:root {
   /* colores basicos de textos */
   --color-white: #ffffff;
   --color-white-1: #f0f0f0;
   --color-white-2: #dfdfdf;
   --color-white-3: #c9c9c9;
   --color-dark: #1c2e36;
   --color-dark-1: #535c5e;
   --color-dark-2: #8d9496;
   --color-dark-3: #b7c1c4;

   /* colores primarios de tu diseño */
   --color-primary: #0f1e4b;
   --color-primary-1: #162963;
   --color-primary-2: #1b3581;
   --color-primary-3: #294fc2;

   /* colores secundarios de tu diseño */
   --color-accent: #4aaf2c;
   --color-accent-1: #66bd21;
   --color-accent-2: #79c040;
   --color-accent-3: #89bb61;

   /* COLORES AUXILIARES POR DEFAULT */
   --color-blue: #0064fa;
   --color-green: #56bd5b;
   --color-yellow: #f7b422;
   --color-orange: #f77722;
   --color-red: #e34c4c;
   --color-brown: #703c27;
   --color-purple: #8d6cd1;
   --color-pink: #eb61a5;

   /* tamaño de fuente web */
   --web-text-size-1: 10px;
   --web-text-size-2: 13px;
   --web-text-size-3: 16px;
   --web-text-size-4: 20px;
   --web-text-size-5: 28px;
   --web-text-size-6: 36px;
   --web-text-size-7: 64px;
   --web-text-size-8: 78px;
   --web-text-size-9: 90px;
   --web-text-size-10: 100px;
   /* fuente tablet */
   --tablet-text-size-1: 9px;
   --tablet-text-size-2: 12px;
   --tablet-text-size-3: 16px;
   --tablet-text-size-4: 20px;
   --tablet-text-size-5: 26px;
   --tablet-text-size-6: 34px;
   --tablet-text-size-7: 48px;
   --tablet-text-size-8: 64px;
   --tablet-text-size-9: 80px;
   --tablet-text-size-10: 100px;
   /* fuente movil */
   /* --movil-text-size-1: 9px;
  --movil-text-size-2: 12px;
  --movil-text-size-3: 16px;
  --movil-text-size-4: 20px;
  --movil-text-size-5: 24px;
  --movil-text-size-6: 28px;
  --movil-text-size-7: 36px;
  --movil-text-size-8: 58px;
  --movil-text-size-9: 68px;
  --movil-text-size-10: 100px; */

   --movil-text-size-1: 0.55rem;
   --movil-text-size-2: 0.73rem;
   --movil-text-size-3: 0.97rem;
   --movil-text-size-4: 1.22rem;
   --movil-text-size-5: 1.467rem;
   --movil-text-size-6: 1.71rem;
   --movil-text-size-7: 2.2rem;
   --movil-text-size-8: 3.54rem;
   --movil-text-size-9: 4.15rem;
   --movil-text-size-10: 6.11rem;
}

* {
   margin: 0px;
   padding: 0px;
   border: 0px;
   box-sizing: border-box;
   font-weight: 100;
   outline: none;
}
*:focus {
   outline: none;
}
a {
   text-decoration: none;
}

/* Esto hace que sea más difícil confiar accidentalmente en los valores de margen aplicados 
por la hoja de estilo del agente de usuario que no forman parte de su escala de espaciado. */
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
   margin: 0;
}

/* Todos los elementos de encabezado están completamente sin estilo de forma predeterminada
y tienen el mismo tamaño y peso de fuente que el texto normal */
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}
/* Las listas ordenadas y desordenadas no tienen estilo de forma predeterminada,
 sin viñetas / números y sin márgenes ni relleno. */
ol,
ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
/* Esto ayuda a evitar problemas de alineación inesperados que a menudo 
se encuentran al utilizar el navegador predeterminado display: inline */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
   display: block;
   /* vertical-align: middle; */
}

*,
::before,
::after {
   border-width: 0;
   border-style: solid;
   border-color: transparent;
}

button:focus,
input:focus {
   outline: none;
   outline-width: 0;
}

body {
   font-family: Ubuntu;
}
