<template>
  <div class="position-relative w-100% h-100%">
    <div class="scroll-vertical scroll:bar-green md:pr-10">
      <!-- contenido -->
      <div class="row mt-5 sm:ml-3">
        <i
          class="fas fa-arrow-left text-size-7 text-white hover:bg-dark-1 p-2"
          @click="$router.replace('/portafolio')"
        ></i>
      </div>
      <div class="col w-100% pv-5 pl-2 pr-2">
        <div
          class="
            col
            w-100%
            border-radius-3 border-color-white border-solid-1
            shadow-4
          "
        >
          <div class="row w-100% p-5 sm:justify-center">
            <!-- <div class="sm:col-12 md:col-4 row sm:justify-center"> -->
            <img
              :src="arrayPortafolio[ID].logo"
              class="
                sm:h-36
                sm:w-36
                md:h-40
                md:w-40
                object-cover
                border-radius-7
              "
            />
            <!-- </div> -->
            <!-- <div class="sm:col-12 md:col-8"> -->
            <div class="col w-100% flex-1 pv-2 ph-5">
              <h3 class="text-size-5 text-white bold w-100% sm:text-center">
                {{ arrayPortafolio[ID].titulo }}
              </h3>
              <div class="row sm:w-100% md:w-80% mt-3 sm:justify-center">
                <label
                  v-for="(item, index) in arrayPortafolio[ID].tags"
                  :key="index"
                  class="
                    sm:text-size-2
                    md:text-size-4
                    border-radius-4
                    bg-white
                    text-dark
                    ph-3
                    pv-1
                    mr-2
                    mt-2
                  "
                  >{{ item }}</label
                >
              </div>
              <div class="row w-100% sm:justify-center">
                <a
                  v-if="arrayPortafolio[ID].link != null"
                  :href="arrayPortafolio[ID].link"
                  target="_blank"
                  class="
                    bg-accent
                    hover:bg-accent-2
                    cursor-pointer
                    border-radius-4
                    bold
                    p-2
                    sm:w-30
                    md:w-40
                    text-center text-dark
                    sm:text-size-2
                    md:text-size-3
                    mt-5
                  "
                >
                  <i class="fas fa-external-link-square-alt"></i>
                  Visitar proyecto
                </a>
                <a
                  v-if="arrayPortafolio[ID].repositorio != null"
                  :href="arrayPortafolio[ID].repositorio"
                  target="_blank"
                  class="
                    bg-dark-1
                    ml-2
                    hover:bg-dark-2
                    cursor-pointer
                    border-radius-4
                    bold
                    p-2
                    sm:w-28
                    md:w-30
                    sm:text-size-2
                    md:text-size-3
                    text-center text-white
                    mt-5
                  "
                >
                  <i class="fab fa-github"></i>
                  Repositorio
                </a>
              </div>
            </div>
            <!-- </div> -->
          </div>
          <div
            class="row w-100% sm:h-60 md:h-100 position-relative mb-5 mt-4"
            style="background: rgba(0, 0, 0, 0.5)"
          >
            <div class="scroll-horizontal h-100% w-100% p-2">
              <img
                v-for="(item2, index) in arrayPortafolio[ID].imagenes"
                class="d-inline-block ml-3 h-100%"
                :key="index"
                :src="item2"
              />
            </div>
          </div>
          <h3
            class="text-size-3 text-white p-5"
            v-html="arrayPortafolio[ID].descripcion"
          ></h3>
        </div>
        <div class="md:hidden h-20"></div>
      </div>
    </div>
    <div
      class="
        md:d-none
        sm:position-fixed
        sm:bottom-0
        row
        h-20
        us:bar-bottom
        w-100%
      "
    ></div>
  </div>
</template>
      
<script>
//vue
import portafolioImport from "@/assets/portafolio.json";

export default {
  data() {
    return {
      ID: 0,
      arrayPortafolio: portafolioImport,
    };
  },
  mounted() {
    this.ID = this.$route.params.id;
    console.log(this.$route.params.id);
    console.log(this.arrayPortafolio[this.ID].imagenes.length);
    let scrollContainer2 = document.getElementsByClassName("scroll-horizontal");

    for (var i = 0; i < scrollContainer2.length; i++) {
      //obtenemos el item seleccionado
      (function (index) {
        //verificamos la compatibildad con los navegadores
        if (scrollContainer2[index].addEventListener) {
          if (navigator.userAgent.search("Firefox") >= 0) {
            scrollContainer2[i].addEventListener(
              "DOMMouseScroll",
              (e) => scrollHorizontally(e, scrollContainer2[index]),
              false
            );
          } else {
            scrollContainer2[index].addEventListener(
              "mousewheel",
              (e) => scrollHorizontally(e, scrollContainer2[index]),
              false
            );
          }
        } else {
          // IE 6/7/8
          scrollContainer2[i].attachEvent("onmousewheel", (e) => {
            scrollHorizontally(e, item);
          });
        }
      })(i);
    }

    function scrollHorizontally(e, scrollContainer2) {
      e = window.event || e;
      var delta = Math.max(-1, Math.min(1, e.wheelDelta || -e.detail));
      scrollContainer2.scrollLeft -= delta * 40; // Multiplied by 40
      e.preventDefault();
    }
  },
  methods: {},
};
</script>

<style>
</style>