<template>
  <div class="position-relative w-100% h-100%">
    <div class="scroll-vertical scroll:bar-green md:pr-10">
      <div class="col w-100%">
        <h1
          class="
            sm:text-size-6 sm:text-center
            md:text-size-7
            text-white
            bold
            mt-10
          "
        >
          Mis proyectos de inicio
        </h1>
        <p
          class="
            sm:text-size-2
            md:text-size-3
            sm:text-center
            text-white
            opacity-4
            mt-2
            mb-10
          "
        >
          Soy un poco adicto a sistemas y juegos, a lo largo de los años, he
          probado distintos sistemas webs, aplicaciones moviles y videojuegos
          moviles de diversos generos. Aqui les enseño algunos de mi pasiones y
          proyectos con clientes que desarrolle.
        </p>
        <div class="row w-100%">
          <div
            class="sm:col-6 md:col-3 p-2"
            v-for="(item, index) in arrayPortafolio"
            :key="index"
          >
            <div
              class="
                col
                w-100%
                h-100%
                hover:bg-white-3
                border-radius-3
                bg-white
                shadow-4
                cursor-pointer
              "
              @click="
                $router.push({
                  name: 'Portafolio detalle',
                  params: { id: index },
                })
              "
            >
              <img
                :src="item.logo"
                class="
                  w-100%
                  md:h-40
                  object-cover
                  border-radius-top-right-3 border-radius-top-left-3
                "
              />
              <div class="col p-1 w-100%">
                <h3 class="text-size-3 text-dark bold w-100% text-center mt-2">
                  {{ item.titulo }}
                </h3>
                <p
                  class="
                    text-size-2 text-dark-2
                    w-100%
                    sm:h-15
                    md:h-13
                    mt-2
                    text-center
                  "
                >
                  <span
                    v-html="
                      item.descripcion.length > 100
                        ? item.descripcion.substring(0, 99) + '...'
                        : item.descripcion
                    "
                  ></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="
        md:d-none
        sm:position-fixed
        sm:bottom-0
        row
        h-20
        us:bar-bottom
        w-100%
      "
    ></div>
  </div>
</template>

<script>
import portafolioImport from "@/assets/portafolio.json";
export default {
  data() {
    return {
      arrayPortafolio: portafolioImport,
    };
  },
  mounted() {
    console.log(this.arrayPortafolio);
  },
  methods: {
    // JSONrecuperaFileData(item) {
    //   var url = this.$BASE_URL(
    //     "/storage/files/" +
    //       localStorage.getItem("id_usuario") +
    //       "/" +
    //       item.id_product +
    //       "/data.json?v=" +
    //       Date.now()
    //   );
    //   fetch(url)
    //     .then((response) => response.json())
    //     .then((json) => {
    //       console.log(this.json);
    //       this.arrayPublicacion = json;
    //       this.itemData = item;
    //     });
    // },
  },
};
</script>

<style>
</style>