<template>
  <!-- cuerpo de la pagina -->
  <div class="position-relative row flex-1 w-100%">
    <div class="position-absolute col w-100% h-100%">
      <div class="scroll-vertical h-100% w-100%">
        <div class="col">
          <!-- titulo y buscador -->
          <div class="row sm:p-2 md:p-5 align-center justify-end">
            <div class="sm:col-12 md:col-8 lg:col-9">
              <h1 class="flex-1 text-dark-1 text-size-4">
                Lista de publicidad
              </h1>
            </div>
            <div class="sm:col-12 md:col-4 lg:col-3">
              <div class="row justify-end">
                <ButtonPrimary
                  class="p-2"
                  icon="fas fa-plus"
                  @click="
                    $refs.refDialogoElemento.setTitle('Nueva publicidad');
                    $refs.refDialogoElemento.setElements([
                      {
                        type: 'text',
                        title: 'Entidad*',
                        value: '',
                        rule: {
                          minLength: 6,
                          maxLength: 120,
                        },
                      },
                      {
                        type: 'area',
                        title: 'Motivo*',
                        value: '',
                        rule: {
                          minLength: 1,
                          maxLength: 120,
                        },
                      },
                      {
                        type: 'img',
                        title: 'Fotografia (1024x240):',
                        value: null,
                      },
                      {
                        type: 'img',
                        title: 'Fotografia (1024x840)',
                        value: null,
                      },
                    ]);
                    $refs.refDialogoElemento.show();
                    $refs.refDialogoElemento.setOnClickListenerPositive(() => {
                      DBcreatePublicidad();
                    });
                  "
                  text="Nuevo"
                ></ButtonPrimary>
              </div>
            </div>
            <div class="sm:col-12 md:col-4 lg:col-3">
              <div class="row w-100% mt-2 mb-2 justify-end">
                <EditText
                  class="flex-1 mr-2"
                  placeholder="Buscar"
                  ref="_edBuscar"
                  v-model="txtBuscar"
                ></EditText>
                <ButtonPrimary
                  class=""
                  text="Buscar"
                  icon="fas fa-search"
                  @click="
                    pagina = 1;
                    DBcargaRegistros();
                  "
                ></ButtonPrimary>
              </div>
            </div>
          </div>
          <!-- end titulo y buscador -->

          <!-- tabla de registros -->

          <div class="col w-100% sm:pt-2 sm:pb-2 md:p-5">
            <div
              v-if="arrayTabla.filas ? arrayTabla.filas.length <= 0 : true"
              class="
                col
                border-radius-2 border-color-dark-3 border-solid-1
                p-2
                justify-center
                align-center
              "
            >
              <div class="h-32"></div>
              <label class="text-dark-3 bold text-size-6 text-center"
                >Aun no existe registros</label
              >
              <p class="text-dark-3 text-size-3 text-center">
                Esperando a que se agregue un nuevo registro
              </p>
              <div class="h-32"></div>
            </div>
            <div
              v-else
              class="row w-100% text-size-3 text-dark-1 hover:bg-dark-3 pv-1"
              v-for="(item, index) in arrayTabla.filas"
              :key="index"
              :class="[index % 2 == 0 ? 'bg-white-1' : '']"
            >
              <div class="sm:col-3 md:col-1 row justify-center sm:pl-2">
                <img
                  id="imgViewItem"
                  class="imgViewItem sm:w-100% md:w-12 h-12 border-radius-1"
                  :src="
                    GLOBAL.baseUrl('/storage/publicidad/' + item.baner_simple)
                  "
                  alt=""
                />
              </div>
              <div class="sm:col-9 md:col-9 row align-center pl-2">
                <div class="row w-100%">
                  <div class="sm:col-12 md:flex-2 row align-center">
                    {{ GLOBAL.textNoEmpty(item.entidad) }}
                  </div>
                  <div class="sm:col-12 md:flex-1 row">
                    <div class="col-12 text-size-2 text-dark-2">Estado:</div>
                    <div class="col-12">
                      {{ GLOBAL.textNoEmpty(item.estado) }}
                    </div>
                  </div>
                  <div class="sm:col-6 md:flex-1 row">
                    <div class="col-12 text-size-2 text-dark-2">
                      Fecha registro:
                    </div>
                    <div class="col-12">
                      {{ GLOBAL.textNoEmpty(item.creado_en) }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="sm:col-12 md:col-2 row justify-end align-center">
                <i
                  class="far fa-edit p-4 hover:bg-primary-1 hover:text-white"
                  @click="updateItem(item)"
                ></i>
                <i
                  class="
                    far
                    fa-trash-alt
                    p-4
                    hover:bg-primary-1
                    hover:text-white
                  "
                  @click="DBdeletePublicidad(item)"
                ></i>
              </div>
            </div>
          </div>
          <!-- end tabla de registros -->

          <!-- paginacion de tabla -->
          <div class="row justify-end sm:p-2 md:p-5">
            <ButtonPrimary
              @click="
                pagina = arrayTabla.pagina_anterior;
                DBcargaRegistros();
              "
              class="mt-1 mr-1 ml-1"
              text="Atras"
            ></ButtonPrimary>
            <ButtonPrimary
              v-for="index in arrayTabla.paginas_total"
              @click="
                if (index != pagina) {
                  pagina = index;
                  DBcargaRegistros();
                }
              "
              :key="index"
              class="mt-1 mr-1 ml-1"
              :class="[index == pagina ? 'bg-primary-3' : '']"
              :text="index"
            ></ButtonPrimary>
            <ButtonPrimary
              @click="
                pagina = arrayTabla.pagina_siguiente;
                DBcargaRegistros();
              "
              class="mt-1 mr-1 ml-1"
              text="Siguiente"
            ></ButtonPrimary>
          </div>
          <!-- end paginacion de tabla -->
        </div>
      </div>
    </div>

    <DialogoElemento ref="refDialogoElemento"></DialogoElemento>
    <DialogLoading ref="refDialogoLoading"></DialogLoading>
    <DialogConfirm ref="refDialogConfirm"></DialogConfirm>
  </div>
  <!-- end cuerpo de la pagina -->

  <!-- <DialogoNuevo
      @onViewResult="onViewResult"
      ref="_DialogoNuevo"
    ></DialogoNuevo>

    <DialogoEdita
      @onViewResult="onViewResult"
      ref="_DialogoEdita"
    ></DialogoEdita>

    <DialogoConfirma ref="_DialogoConfirma"> </DialogoConfirma>

    <DialogoCargando ref="_DialogoCargando"></DialogoCargando> -->
</template>

<script>
import EditText from "@/components/EditText";
import ButtonPrimary from "@/components/ButtonPrimary";
import DialogoElemento from "@/components/DialogoElemento";
import apiAxios from "@/utils/axios";
// import DialogoNuevo from "./components/DialogoNuevo";
// import DialogoEdita from "./components/DialogoEditar";
import DialogConfirm from "@/components/DialogConfirm";
import DialogLoading from "@/components/DialogLoading";

let me = null;
export default {
  components: {
    ButtonPrimary,
    DialogoElemento,
    DialogLoading,
    DialogConfirm,
    EditText,
  },
  data() {
    return {
      pagina: 1,
      cantidad_por_pagina: 15,
      arrayTabla: [],
      itemData: {},
      txtBuscar: "",
      estado: "",
    };
  },
  created() {
    window.addEventListener("resize", this.handleResizeImage);
  },
  mounted() {
    // console.log(process.env.MIX_NODE_ENV);
    // // _layoutMenu
    me = this;
    // // this.$refs._layoutCabecera.clickMenu(null);
    // me.$refs._layoutCabecera.clickMenu(() => {
    //   me.$refs._layoutMenu.changueStatus();
    // });
    me.DBcargaRegistros();
  },
  methods: {
    handleResizeImage() {
      this.counterTime = setTimeout(function () {
        if (document.getElementById("imgViewItem")) {
          let imgView = document.getElementById("imgViewItem");
          var altoView = parseInt(imgView.clientWidth);
          let nodeItems = document.getElementsByClassName("imgViewItem");
          for (let i = 0; i < nodeItems.length; i++) {
            nodeItems[i].style.height = altoView + "px";
          }
        }
      }, 200);
    },
    DBcreatePublicidad() {
      let recovery = this.$refs.refDialogoElemento.getElements();

      me.$refs.refDialogoLoading.setMessage("Guarando datos...");
      me.$refs.refDialogoLoading.show();

      let form = new FormData();
      form.append("entidad", recovery[0].value);
      form.append("motivo", recovery[1].value);
      recovery[2].file ? form.append("baner_simple", recovery[2].file) : "";
      recovery[3].file ? form.append("baner_mediano", recovery[3].file) : "";
      form.append("usuario_id", localStorage.getItem("id_usuario"));

      apiAxios
        .createMonetiza({
          form: form,
        })
        .then((response) => {
          me.$refs.refDialogoLoading.dissmis();
          me.$refs.refDialogoElemento.dissmis();
          me.DBcargaRegistros();
        })
        .catch(function (err) {
          me.$refs.refDialogoLoading.dissmis();
          me.$refs.refDialogConfirm.show();
          me.$refs.refDialogConfirm.setTitle("Error de formulario");
          me.$refs.refDialogConfirm.setMessage(
            err.response.status == 400 ? err.response.data.message : err.message
          );
          me.$refs.refDialogConfirm.setImage(require("@/assets/error.svg"));
          me.$refs.refDialogConfirm.setPositiveText("Volver");
          me.$refs.refDialogConfirm.setPositiveOnClick(() => {
            me.$refs.refDialogConfirm.dissmis();
          });
        });
      //   }
    },
    updateItem(item) {
      this.$refs.refDialogoElemento.setTitle("Editar usuario");
      this.$refs.refDialogoElemento.setElements([
        {
          type: "text",
          title: "Entidad*",
          value: item.entidad,
          rule: {
            minLength: 6,
            maxLength: 120,
          },
        },
        {
          type: "area",
          title: "Motivo",
          value: item.motivo,
          rule: {
            minLength: 1,
            maxLength: 120,
          },
        },
        {
          type: "img",
          title: "Fotografia (1024x240):",
          value: this.GLOBAL.baseUrl(
            "/storage/publicidad/" + item.baner_simple
          ),
        },
        {
          type: "img",
          title: "Fotografia (1024x840)",
          value: this.GLOBAL.baseUrl(
            "/storage/publicidad/" + item.baner_mediano
          ),
        },
      ]);
      me.$refs.refDialogoElemento.show();
      me.$refs.refDialogoElemento.setOnClickListenerPositive(() => {
        me.DBupdateAlbergue(item);
      });
    },
    DBupdateAlbergue(item) {
      let recovery = this.$refs.refDialogoElemento.getElements();

      me.$refs.refDialogoLoading.setMessage("Guarando datos...");
      me.$refs.refDialogoLoading.show();

      let form = new FormData();
      form.append("entidad", recovery[0].value);
      form.append("motivo", recovery[1].value);
      recovery[2].file ? form.append("baner_simple", recovery[2].file) : "";
      recovery[3].file ? form.append("baner_mediano", recovery[3].file) : "";
      form.append("id_publicidad", item.id_publicidad);

      apiAxios
        .updateMonetiza({
          form: form,
        })
        .then((response) => {
          me.$refs.refDialogoLoading.dissmis();
          me.$refs.refDialogoElemento.dissmis();
          me.DBcargaRegistros();
        })
        .catch(function (err) {
          me.$refs.refDialogoLoading.dissmis();
          me.$refs.refDialogConfirm.show();
          me.$refs.refDialogConfirm.setTitle("Error de formulario");
          me.$refs.refDialogConfirm.setMessage(
            err.response.status == 400 ? err.response.data.message : err.message
          );
          me.$refs.refDialogConfirm.setImage(require("@/assets/error.svg"));
          me.$refs.refDialogConfirm.setPositiveText("Volver");
          me.$refs.refDialogConfirm.setPositiveOnClick(() => {
            me.$refs.refDialogConfirm.dissmis();
          });
        });
    },
    DBdeletePublicidad(item) {
      me.$refs.refDialogConfirm.show();
      me.$refs.refDialogConfirm.setTitle("Eliminar");
      me.$refs.refDialogConfirm.setMessage(
        "Realmente desea eliminar este registro"
      );
      me.$refs.refDialogConfirm.setImage(require("@/assets/error.svg"));
      me.$refs.refDialogConfirm.setPositiveText("Aceptar");
      me.$refs.refDialogConfirm.setPositiveOnClick(() => {
        apiAxios
          .deleteMonetiza({
            id: item.id_publicidad,
          })
          .then((response) => {
            me.$refs.refDialogoLoading.dissmis();
            me.$refs.refDialogConfirm.dissmis();
            me.DBcargaRegistros();
          })
          .catch(function (err) {
            me.$refs.refDialogoLoading.dissmis();
            me.$refs.refDialogConfirm.show();
            me.$refs.refDialogConfirm.setTitle("Error de formulario");
            me.$refs.refDialogConfirm.setMessage(
              err.response.status == 400
                ? err.response.data.message
                : err.message
            );
            me.$refs.refDialogConfirm.setImage(require("@/assets/error.svg"));
            me.$refs.refDialogConfirm.setPositiveText("Volver");
          });
      });
      me.$refs.refDialogConfirm.setNegativeText("Cancelar");
      me.ButtonPrimary;
    },

    DBcargaRegistros() {
      apiAxios
        .getMonetiza({
          cantidad_por_pagina: me.cantidad_por_pagina,
          pagina: me.pagina,
          buscar: me.txtBuscar,
          estado: me.estado,
        })
        .then((response) => {
          me.arrayTabla = response.data.data;
        })
        .catch(function (err) {
          console.log(err);
        });
    },
  },
};
</script>

<style>
</style>