<template>
  <div class="position-relative w-100% h-100%">
    <div class="scroll-vertical scroll:bar-green slider">
      <div class="col w-100% h-100% slider-item transition-all md:pr-10">
        <div class="flex-1 col align-center justify-center">
          <div class="row w-100%">
            <div
              class="
                sm:col-12
                md:col-5
                col
                sm:align-center
                md:align-end
                md:pr-5
              "
            >
              <div
                class="
                  sm:w-56
                  sm:h-56
                  md:w-80
                  md:h-80
                  us:bg-perfil-1
                  border-radius-50%
                  col
                  align-center
                  justify-center
                "
              >
                <div
                  class="
                    sm:w-52
                    sm:h-52
                    w-72
                    h-72
                    us:bg-perfil-2
                    border-radius-50%
                    col
                    align-center
                    justify-center
                  "
                >
                  <img
                    class="sm:w-48 sm:h-48 w-64 h-64 border-radius-50%"
                    src="@/assets/logo-frank.png"
                  />
                </div>
              </div>
            </div>
            <div class="sm:col-12 md:col-7 col justify-center sm:align-center">
              <h1 class="text-white-1 sm:text-size-4 md:text-size-6 opacity-4">
                Franklin M. Gironda Cruz
              </h1>
              <h2
                class="
                  text-white
                  sm:text-size-4 sm:text-center
                  md:text-size-6
                  mt-4
                "
              >
                Desarrollador
                <span class="bold sm:text-size-6 md:text-size-7">FRONTEND</span
                >,<br />
                <span class="bold sm:text-size-6 md:text-size-7">BACKEND</span>
                y
                <span class="bold sm:text-size-6 md:text-size-7"
                  >DISEÑADOR</span
                >
              </h2>
              <p
                class="
                  text-white
                  sm:text-size-2 sm:text-center
                  sm:ph-5
                  md:text-size-3
                  mt-4
                  opacity-5
                "
              >
                Diseño y codifico cosas maravillosamente simples, y me encanta
                lo que hago.
              </p>
            </div>
          </div>
        </div>
        <div class="sm:h-15 md:h-30 pb-5 col align-center">
          <img
            src="@/assets/button-scroll.png"
            class="h-100% btn-heartbeat transition-all"
          />
        </div>
        <div class="md:d-none h-20"></div>
      </div>

      <div class="col w-100% h-100% slider-item transition-all md:pr-10">
        <div class="sm:h-15 md:h-30 pt-5 col align-center rotate-180">
          <img
            src="@/assets/button-scroll.png "
            class="h-100% btn-heartbeat transition-all"
          />
        </div>
        <div class="flex-1 col align-center justify-center">
          <div class="col w-100% align-center">
            <div
              class="
                sm:w-56
                sm:h-56
                md:w-80
                md:h-80
                us:bg-perfil-1
                border-radius-50%
                col
                align-center
                justify-center
              "
            >
              <div
                class="
                  sm:w-52
                  sm:h-52
                  w-72
                  h-72
                  us:bg-perfil-2
                  border-radius-50%
                  col
                  align-center
                  justify-center
                "
              >
                <img
                  class="sm:w-48 sm:h-48 w-64 h-64 border-radius-50%"
                  src="@/assets/perfil.png"
                />
              </div>
            </div>
            <h1 class="text-white-1 sm:text-size-4 md:text-size-6">
              Hola, soy Franklin. Un placer conocerte.
            </h1>
            <p
              class="
                text-white
                sm:text-size-2
                sm:ph-5
                md:text-size-3
                mt-4
                opacity-5
                text-center
              "
            >
              Desde que comencé mi viaje como desarollador y diseñador
              independiente hace casi 4 años, he trabajado a distancia para
              agencias, he trabajado como consultor para empresas emergentes y
              he colaborado con personas talentosas para crear productos
              digitales para uso comercial y de consumo. Tengo una confianza
              tranquila, una curiosidad natural y un trabajo constante para
              mejorar mis habilidades, un problema de diseño a la vez.
            </p>
            <div class="row mt-10">
              <a
                class="
                  bg-white
                  hover:bg-white-3
                  shadow-2
                  border-radius-2
                  p-3
                  text-size-2 text-dark
                  cursor-pointer
                  mr-2
                "
              >
                <i class="fas fa-file-download text-size-3 mr-1"></i> Descargar
                curriculum vitae
              </a>
              <router-link
                class="
                  bg-white
                  hover:bg-white-3
                  shadow-2
                  border-radius-2
                  p-3
                  text-size-2 text-dark
                  cursor-pointer
                  ml-2
                "
                :to="'/habilidades'"
              >
                <i class="fas fa-laptop-code text-size-3 mr-1"></i> Ver mis
                habilidades
              </router-link>
            </div>
          </div>
        </div>
        <div class="h-20"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {},
};
</script>

<style>
.us\:bg-perfil-1 {
  background: rgba(255, 255, 255, 0.178);
}
.us\:bg-perfil-2 {
  background: rgba(255, 255, 255, 0.226);
}
.slider {
  scroll-snap-type: y mandatory;
}
.slider-item {
  scroll-snap-align: center;
}
.btn-heartbeat {
  animation: heartbeat 3s infinite;
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}
</style>