<template>
  <div class="w-100% h-max">
    <div class="row h-100% w-100% us:bg-app">
      <MenuBar></MenuBar>
      <div class="md:flex-1 w-100% h-100%">
        <!-- contenido -->
        <router-view></router-view>
        <!-- end contenido -->
      </div>
    </div>
  </div>
</template>

<script>
import MenuBar from "@/views/menu/menu.vue";
let me = null;
export default {
  components: {
    MenuBar,
  },
  data() {
    return {};
  },
};
</script>

<style>
.us\:bar-bottom {
  background: linear-gradient(
    0deg,
    rgb(31, 27, 51) 0%,
    rgba(31, 27, 51, 0.768) 60%,
    rgba(255, 255, 255, 0) 100%
  );
}
.hover\:border-radius-50\%:hover {
  border-radius: 50%;
}
.us\:select-item {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(0, 212, 255, 0) 53%
  );
  /* background: rgba(252, 252, 252, 0.233); */
  /* background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 212, 255, 0) 100%
  ); */
  /* border-radius: 10px 0 0 10px; */
}
.us\:bg-app {
  background: rgb(0, 79, 52);
  background: radial-gradient(
    circle,
    rgba(0, 79, 52, 1) 0%,
    rgba(0, 12, 49, 1) 100%
  );
  /* animation: fadebackground 6s infinite; */
}
@keyframes fadebackground {
  0% {
    /* background: red; */
    background: radial-gradient(
      circle,
      rgba(0, 79, 52, 1) 0%,
      rgba(0, 12, 49, 1) 100%
    );
  }
  50% {
    /* background: yellow; */
    background: radial-gradient(
      circle,
      rgb(100, 173, 4) 0%,
      rgba(0, 12, 49, 1) 100%
    );
  }
  100% {
    /* background: red; */
    background: radial-gradient(
      circle,
      rgba(0, 79, 52, 1) 0%,
      rgba(0, 12, 49, 1) 100%
    );
  }
}
</style>

