<template>
  <div
    class="
      sm:position-fixed
      sm:bottom-0
      sm:left-0
      sm:w-100%
      md:col
      md:w-20%
      md:h-100%
      md:justify-center
      md:align-center
      z-10
    "
  >
    <!-- barra -->
    <div class="border-radius-5 sm:row md:col md:h-70% md:w-40%">
      <router-link
        v-for="(item, index) in menu"
        :key="index"
        class="
          flex-1
          col
          justify-center
          align-center
          bg-white
          sm:h-20
          sm:text-size-1
          md:text-size-2
        "
        :to="item.ruta"
        :class="[
          obtienePath() == index
            ? 'bg-transparent text-white sm:text-size-3 md:text-size-4  md:pv-6 md:ph-2'
            : 'align-center text-dark',
          obtienePath() - 1 == index
            ? 'sm:border-radius-top-right-5 md:border-radius-bottom-left-5 md:border-radius-bottom-right-5'
            : '',
          obtienePath() + 1 == index
            ? 'sm:border-radius-top-left-5 md:border-radius-top-left-5 md:border-radius-top-right-5'
            : '',
          0 == index
            ? 'sm:border-radius-top-left-5 md:border-radius-top-left-5 md:border-radius-top-right-5'
            : '',
          menu.length - 1 == index
            ? 'sm:border-radius-top-right-5 md:border-radius-bottom-left-5 md:border-radius-bottom-right-5'
            : '',
        ]"
      >
        <div
          class="col align-center cursor-pointer justify-center"
          :class="[
            obtienePath() == index
              ? 'us:select-item border-radius-5 w-100% h-100%'
              : 'hover:border-radius-50% hover:bg-white-1',
          ]"
        >
          <i
            class="sm:text-size-4 md:text-size-5"
            :class="[
              item.icono,
              obtienePath() == index ? 'md:text-size-7' : '',
            ]"
          ></i>
          <p class="text-center"><span v-html="item.titulo"></span></p>
        </div>
      </router-link>
    </div>
    <!-- end barra -->
  </div>
</template>

<script>
let me = null;
export default {
  data() {
    return {
      menu: [
        { titulo: "Quien<br>soy?", icono: "fas fa-child", ruta: "/" },
        {
          titulo: "Habili-<br>dades",
          icono: "fas fa-laptop-code",
          ruta: "/habilidades",
        },
        // { titulo: "Skills", icono: "fas fa-brain", ruta: "/skills" },

        {
          titulo: "Porta-<br>folio",
          icono: "fas fa-folder-open",
          ruta: "/portafolio",
        },
        {
          titulo: "Contac-<br>tos",
          icono: "fas fa-phone-square",
          ruta: "/contactos",
        },
      ],
    };
  },
  created() {
    me = this;
  },
  updated() {},
  methods: {
    obtienePath() {
      if (this.$route.name == "Inicio") {
        return 0;
      } else if (
        this.$route.name == "Habilidades" ||
        this.$route.name == "Backend" ||
        this.$route.name == "frontend" ||
        this.$route.name == "diseno"
      ) {
        return 1;
      } else if (
        this.$route.name == "Portafolio" ||
        this.$route.name == "Portafolio detalle"
      ) {
        return 2;
      } else if (this.$route.name == "Contactos") {
        return 3;
      } else {
        4;
      }
    },
  },
};
</script>

<style>
</style>