<template>
  <div class="position-relative w-100% h-100%">
    <div class="scroll-vertical scroll:bar-green md:pr-10">
      <div class="col w-100% align-center justify-center">
        <div class="sm:h-20 md:h-26 bg-red"></div>
        <img class="w-40 h-40" src="@/assets/logo-frank.png" />
        <h1 class="sm:text-size-6 md:text-size-7 text-white bold mt-10">
          Mi contacto
        </h1>
        <p
          class="
            sm:text-size-3
            md:text-size-4
            text-center text-white
            opacity-4
            mt-2
            mb-10
          "
        >
          Si quieres ponerte en contacto conmigo, puedes hacerlo por los
          siguientes medios.
          <strong class="bold textsi"
            ><br />Con mucho gusto te ayudare! :)</strong
          >
        </p>
        <div class="row w-100% justify-center md:mt-10">
          <a
            href="https://wa.me/59179528978"
            target="_blank"
            class="sm:col-4 md:col-2 lg:col-2 col align-center p-2"
          >
            <div
              class="
                col
                sm:w-12
                sm:h-12
                md:w-15
                md:h-15
                hover:bg-dark-1
                border-radius-10 border-color-white border-solid-1
                p-1
              "
            >
              <img
                src="@/assets/whatsapp.png"
                class="w-100% h-100% object-cover border-radius-50%"
              />
            </div>
            <h3 class="text-size-2 text-white w-100% text-center opacity-4">
              Whatsapp
            </h3>
            <p class="text-size-3 bold text-white w-100% text-center">
              +591<br />79528978
            </p>
          </a>

          <a
            href="https://t.me/mgcfrank"
            target="_blank"
            class="sm:col-4 md:col-2 lg:col-2 col align-center p-2"
          >
            <div
              class="
                col
                sm:w-12
                sm:h-12
                md:w-15
                md:h-15
                hover:bg-dark-1
                border-radius-10 border-color-white border-solid-1
                p-1
              "
            >
              <img
                src="@/assets/telegram.png"
                class="w-100% h-100% object-cover border-radius-50%"
              />
            </div>
            <h3 class="text-size-2 text-white w-100% text-center opacity-4">
              Telegram
            </h3>
            <p class="text-size-3 bold text-white w-100% text-center">
              +591<br />79528978
            </p>
          </a>

          <a
            href="http://m.me/100002571826295"
            target="_blank"
            class="sm:col-4 md:col-2 lg:col-2 col align-center p-2"
          >
            <div
              class="
                col
                sm:w-12
                sm:h-12
                md:w-15
                md:h-15
                hover:bg-dark-1
                border-radius-10 border-color-white border-solid-1
                p-1
              "
            >
              <img
                src="@/assets/messenger.png"
                class="w-100% h-100% object-cover border-radius-50%"
              />
            </div>
            <h3 class="text-size-2 text-white w-100% text-center opacity-4">
              Messenger
            </h3>
            <p class="text-size-3 bold text-white w-100% text-center">
              +591<br />79528978
            </p>
          </a>

          <a
            href="mailto:mgcfrank@gmail.com"
            target="_blank"
            class="sm:col-4 md:col-2 lg:col-2 col align-center p-2"
          >
            <div
              class="
                col
                sm:w-12
                sm:h-12
                md:w-15
                md:h-15
                hover:bg-dark-1
                border-radius-10 border-color-white border-solid-1
                p-1
              "
            >
              <img
                src="@/assets/gmail.png"
                class="w-100% h-100% object-cover border-radius-50%"
              />
            </div>
            <h3 class="text-size-2 text-white w-100% text-center opacity-4">
              Gmail
            </h3>
            <p class="text-size-2 bold text-white w-100% text-center">
              mgcfrank@gmail.com
            </p>
          </a>

          <a
            href="https://www.linkedin.com/in/frank-gironda-b8824895"
            target="_blank"
            class="sm:col-4 md:col-2 lg:col-2 col align-center p-2"
          >
            <div
              class="
                col
                sm:w-12
                sm:h-12
                md:w-15
                md:h-15
                hover:bg-dark-1
                border-radius-10 border-color-white border-solid-1
                p-1
              "
            >
              <img
                src="@/assets/linkedin.png"
                class="w-100% h-100% object-cover border-radius-50%"
              />
            </div>
            <h3 class="text-size-2 text-white w-100% text-center opacity-4">
              Linkedin
            </h3>
            <p class="text-size-3 bold text-white w-100% text-center">
              Frank-gironda
            </p>
          </a>
        </div>
        <div class="md:d-none h-26"></div>
      </div>
    </div>
    <div
      class="
        md:d-none
        sm:position-fixed
        sm:bottom-0
        row
        h-20
        us:bar-bottom
        w-100%
      "
    ></div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>