<template>
  <div class="bg-white p-5">
    <h3>{{ GLOBAL.baseUrl("/storage") }}</h3>
    <ButtonPrimary text="holas mundo" icon="fab fa-android"></ButtonPrimary>
    <ButtonPrimary class="mb-1 mt-1" text="holas mundo"></ButtonPrimary>
    <ButtonPrimary icon="fab fa-android"></ButtonPrimary>
    <ButtonSecondary text="holas mundo" icon="fab fa-android"></ButtonSecondary>
    <ButtonSecondary class="mb-1 mt-1" text="holas mundo"></ButtonSecondary>
    <ButtonSecondary icon="fab fa-android"></ButtonSecondary>
    <EditText
      text="Holas"
      type="text"
      placeholder="ggggg"
      min="2"
      max="5"
    ></EditText>
    <EditArea
      text="Holas"
      rows="10"
      placeholder="ggggg"
      min="2"
      max="5"
    ></EditArea>

    <DialogLoading ref="_dialogLoading"></DialogLoading>
    <DialogConfirm ref="_dialogConfirmar"></DialogConfirm>
    <DialogoElemento ref="_dialogoElemento"></DialogoElemento>
  </div>
</template>

<script>
// @ is an alias to /src
import apiAxios from "@/utils/axios.js";
import ButtonPrimary from "@/components/ButtonPrimary";
import ButtonSecondary from "@/components/ButtonSecondary";
import DialogLoading from "@/components/DialogLoading";
import DialogConfirm from "@/components/DialogConfirm";
import DialogoElemento from "@/components/DialogoElemento";
import EditText from "@/components/EditText";
import EditArea from "@/components/EditArea";

export default {
  name: "Home",
  components: {
    ButtonPrimary,
    ButtonSecondary,
    DialogLoading,
    DialogConfirm,
    DialogoElemento,
    EditText,
    EditArea,
  },
  data() {
    return {
      form: "holas",
    };
  },
  created() {
    this.GLOBAL.log("CREACION");
    this.validate();
  },
  mounted() {
    this.GLOBAL.log("mounted");
    // apiAxios.test();
    // this.$refs._dialogLoading.setMessage("Verificando usuario...");
    // this.$refs._dialogLoading.show();

    // this.$refs._dialogConfirmar.setTitle("Esto es el tituclo");
    // this.$refs._dialogConfirmar.setMessage("Seguro...");
    // this.$refs._dialogConfirmar.setPositiveText("Aceptar");
    // this.$refs._dialogConfirmar.setPositiveOnClick(() => {
    //   this.GLOBAL.log("presionamos validar");
    //   this.validate();
    //   this.$refs._dialogConfirmar.dissmis();
    // });
    // this.$refs._dialogConfirmar.show();
    this.$refs._dialogoElemento.setTitle("Edición de texto");
    this.$refs._dialogoElemento.setElements([
      {
        type: "color",
        title: "Color de barra",
        value: "#000000",
      },
      {
        type: "text",
        title: "Titulo",
        value: "titulo de prueba",
        rule: {
          minLength: 2,
          maxLength: 20,
        },
      },
      {
        type: "area",
        title: "Color de titulo",
        value: "prueba",
        rule: {
          minLength: 3,
          maxLength: 6,
        },
      },
      {
        type: "select",
        title: "select",
        value: "item3",
        items: {
          item1: "cocha",
          item2: "Oruro",
          item3: "Potosi",
        },
      },
      {
        type: "img",
        title: "Foto de beneficio:",
        value: null,
        nameAfter: null,
        file: null,
      },
    ]);
    this.$refs._dialogoElemento.show();
    this.$refs._dialogoElemento.setOnClickListenerPositive(() => {
      console.log(this.$refs._dialogoElemento.getElements());
    });
  },
  methods: {
    validate() {
      this.GLOBAL.log("valida");
    },
  },
};
</script>
