<template>
  <!-- cuerpo de la pagina -->
  <div class="position-relative row flex-1 w-100%">
    <div class="position-absolute col w-100% h-100%">
      <div class="scroll-vertical h-100% w-100%">
        <div class="col p-5">
          <div
            class="
              col
              border-radius-2 border-color-dark-3 border-solid-1
              p-2
              justify-center
              align-center
            "
          >
            <div class="h-32"></div>
            <label class="text-dark-3 bold text-size-6 text-center"
              >Bienvenido al sistema</label
            >
            <p class="text-dark-3 text-size-3 text-center">
              Empieza administrado tus datos, con la ayuda del menu lateral
            </p>
            <div class="h-32"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end cuerpo de la pagina -->

  <!-- <DialogoNuevo
      @onViewResult="onViewResult"
      ref="_DialogoNuevo"
    ></DialogoNuevo>

    <DialogoEdita
      @onViewResult="onViewResult"
      ref="_DialogoEdita"
    ></DialogoEdita>

    <DialogoConfirma ref="_DialogoConfirma"> </DialogoConfirma>

    <DialogoCargando ref="_DialogoCargando"></DialogoCargando> -->
</template>

<script>
// import editext from "../../../components/edit-text2";
// import button_secondary from "../../../components/button-secondary";
// import apiAxios from "../../../boot/axios.js";
// import DialogoNuevo from "./components/DialogoNuevo";
// import DialogoEdita from "./components/DialogoEditar";
// import DialogoConfirma from "../../../components/dialog-confirm";
// import DialogoCargando from "../../../components/dialog-loading";

let me = null;
export default {
  components: {},
  data() {
    return {
      pagina: 1,
      cantidad_por_pagina: 10,
      arrayTabla: [],
      itemData: {},
      txtBuscar: "",
    };
  },
  created() {
    // preguntamos si existe una sesion
    // if (!localStorage.getItem("id_usuario")) {
    //   console.log("Muestra login");
    //   this.$BASE_URL_OPEN("/adminc");
    // }
  },
  mounted() {
    // console.log(process.env.MIX_NODE_ENV);
    // // _layoutMenu
    // me = this;
    // // this.$refs._layoutCabecera.clickMenu(null);
    // me.$refs._layoutCabecera.clickMenu(() => {
    //   me.$refs._layoutMenu.changueStatus();
    // });
    // me.DBcargaRegistros();
  },
  methods: {
    // selectItem(item) {
    //   me.itemData = item;
    //   console.log(me.itemData);
    // },
    // eliminarItem(item) {
    //   me.$refs._DialogoConfirma.show();
    //   me.$refs._DialogoConfirma.setTitle("Eliminar registro");
    //   me.$refs._DialogoConfirma.setMessage(
    //     "¿Deseas realmente elimnar este registro?"
    //   );
    //   me.$refs._DialogoConfirma.setPositive("Continuar");
    //   me.$refs._DialogoConfirma.setPositiveEvent(() => {
    //     me.$refs._DialogoConfirma.dissmis();
    //     me.$refs._DialogoCargando.setMessage("Eliminando...");
    //     me.$refs._DialogoCargando.show();
    //     apiAxios
    //       .deleteCursos({ id_curso: item.id })
    //       .then((response) => {
    //         if (response.data.status) {
    //           me.$refs._DialogoCargando.dissmis();
    //           me.status = false;
    //           me.onViewResult({ view: "deleted", data: true });
    //         } else {
    //           me.$refs._DialogoCargando.dissmis();
    //           me.onViewResult({ view: "deleted", data: false });
    //         }
    //       })
    //       .catch(function (err) {
    //         console.log(err);
    //         me.$refs._DialogoCargando.dissmis();
    //         me.onViewResult({ view: "deleted", data: false });
    //       });
    //   });
    // },
    // DBcargaRegistros() {
    //   apiAxios
    //     .getCursos({
    //       cantidad_por_pagina: me.cantidad_por_pagina,
    //       pagina: me.pagina,
    //       buscar: me.txtBuscar,
    //     })
    //     .then((response) => {
    //       me.arrayTabla = response.data.data;
    //       console.log(me.arrayTabla.filas[0].direccion);
    //     })
    //     .catch(function (err) {
    //       console.log(err);
    //     });
    // },
    // onViewResult({ view, data = null }) {
    //   switch (view) {
    //     case "created":
    //       if (data == true) {
    //         me.DBcargaRegistros();
    //       }
    //       break;
    //     case "updated":
    //       if (data == true) {
    //         me.DBcargaRegistros();
    //       }
    //       break;
    //     case "deleted":
    //       if (data == true) {
    //         me.DBcargaRegistros();
    //       }
    //       break;
    //   }
    // },
  },
};
</script>

<style>
</style>