<template>
  <div class="h-max">
    <div class="row h-100% w-100%">
      <AdministradorMenu title="Cursos" ref="_layoutMenu"></AdministradorMenu>
      <div class="sm:w-100% md:flex-1 lg:flex-1 col h-100%">
        <AdministradorCabecera
          title="Cursos"
          ref="_layoutCabecera"
          :pressMenu="
            () => {
              $refs._layoutMenu.changueStatus();
            }
          "
        ></AdministradorCabecera>

        <!-- cuerpo de la pagina -->
        <div class="position-relative row flex-1 w-100%">
          <div class="position-absolute col w-100% h-100%">
            <div class="scroll-vertical h-100% w-100%">
              <div class="col">
                <!-- titulo y buscador -->
                <div class="row sm:p-2 md:p-5 align-center justify-end">
                  <div class="sm:col-12 md:col-8 lg:col-9">
                    <h1 class="flex-1 text-dark-1 text-size-4">
                      Lista de cursos
                    </h1>
                  </div>
                  <div class="sm:col-12 md:col-4 lg:col-3">
                    <div class="row justify-end">
                      <button-secondary
                        class="w-32 p-1"
                        @click="$refs._DialogoNuevo.show()"
                        text="Nuevo"
                      ></button-secondary>
                    </div>
                  </div>
                  <div class="sm:col-12 md:col-4 lg:col-3">
                    <div class="row w-100% mt-2 mb-2 justify-end">
                      <edit-text2
                        class="flex-1 mr-2"
                        placeholder="Buscar"
                        ref="_edBuscar"
                      ></edit-text2>
                      <button-secondary
                        class=""
                        text="Buscar"
                        @click="
                          pagina = 1;
                          txtBuscar = $refs._edBuscar.getText();
                          DBcargaRegistros();
                        "
                      ></button-secondary>
                    </div>
                  </div>
                </div>
                <!-- end titulo y buscador -->

                <!-- tabla de registros -->
                <div class="col w-100% sm:pl-2 sm:pt-2 sm:pb-2 md:p-5">
                  <div
                    class="
                      row
                      w-100%
                      p-2
                      bg-accent-3
                      text-dark-1
                      hover:bg-white
                      border-solid-1-bottom border-color-dark-1
                    "
                    v-for="(item, index) in arrayTabla.filas"
                    :key="index"
                  >
                    <div class="sm:col-6 md:col-6">
                      <p class="bold">{{ item.titulo }}</p>
                      <p class="text-size-2">
                        <span class="bold">Categoria:</span>
                        {{ item.etiqueta }}
                      </p>
                      <p class="text-size-2">
                        <span class="bold">Calificacion:</span>
                        {{ item.puntaje }}
                      </p>
                      <p class="text-size-2">
                        <span class="bold">Url:</span>
                        {{ item.url }}
                      </p>
                    </div>
                    <div class="sm:col-12 md:col-4 col justify-center">
                      <p class="text-size-2">
                        <span class="bold">Descripcion:</span>
                        {{
                          item.descripcion_breve.length > 100
                            ? item.descripcion_breve.substring(0, 99) + "..."
                            : item.descripcion_breve
                        }}
                      </p>
                    </div>
                    <div class="sm:col-12 md:col-2">
                      <div class="row h-100% w-100% justify-end align-center">
                        <i
                          class="
                            far
                            fa-edit
                            p-4
                            hover:bg-primary-1
                            hover:text-white
                          "
                          @click="
                            $refs._DialogoEdita.show();
                            $refs._DialogoEdita.setData(item);
                          "
                        ></i>
                        <i
                          class="
                            far
                            fa-trash-alt
                            p-4
                            hover:bg-primary-1
                            hover:text-white
                          "
                          @click="eliminarItem(item)"
                        ></i>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end tabla de registros -->

                <!-- paginacion de tabla -->
                <div class="row justify-end sm:p-2 md:p-5">
                  <button-secondary
                    @click="
                      pagina = arrayTabla.pagina_anterior;
                      DBcargaRegistros();
                    "
                    class="mt-1 mr-1 ml-1"
                    text="Atras"
                  ></button-secondary>
                  <button-secondary
                    v-for="index in arrayTabla.paginas_total"
                    @click="
                      if (index != pagina) {
                        pagina = index;
                        DBcargaRegistros();
                      }
                    "
                    :key="index"
                    class="mt-1 mr-1 ml-1"
                    :class="[index == pagina ? '' : 'bg-white text-primary']"
                    :text="index"
                  ></button-secondary>
                  <button-secondary
                    @click="
                      pagina = arrayTabla.pagina_siguiente;
                      DBcargaRegistros();
                    "
                    class="mt-1 mr-1 ml-1"
                    text="Siguiente"
                  ></button-secondary>
                </div>
                <!-- end paginacion de tabla -->
              </div>
            </div>
          </div>
        </div>
        <!-- end cuerpo de la pagina -->
      </div>
    </div>

    <!-- <DialogoNuevo
      @onViewResult="onViewResult"
      ref="_DialogoNuevo"
    ></DialogoNuevo>

    <DialogoEdita
      @onViewResult="onViewResult"
      ref="_DialogoEdita"
    ></DialogoEdita>

    <DialogoConfirma ref="_DialogoConfirma"> </DialogoConfirma>

    <DialogoCargando ref="_DialogoCargando"></DialogoCargando> -->
  </div>
</template>

<script>
import AdministradorMenu from "@/components/AdministradorMenu";
import AdministradorCabecera from "@/components/AdministradorCabecera";
// import editext from "../../../components/edit-text2";
// import button_secondary from "../../../components/button-secondary";
// import apiAxios from "../../../boot/axios.js";
// import DialogoNuevo from "./components/DialogoNuevo";
// import DialogoEdita from "./components/DialogoEditar";
// import DialogoConfirma from "../../../components/dialog-confirm";
// import DialogoCargando from "../../../components/dialog-loading";

let me = null;
export default {
  components: {
    AdministradorMenu,
    AdministradorCabecera,
  },
  data() {
    return {
      pagina: 1,
      cantidad_por_pagina: 10,
      arrayTabla: [],
      itemData: {},
      txtBuscar: "",
    };
  },
  created() {
    // preguntamos si existe una sesion
    // if (!localStorage.getItem("id_usuario")) {
    //   console.log("Muestra login");
    //   this.$BASE_URL_OPEN("/adminc");
    // }
  },
  mounted() {
    // console.log(process.env.MIX_NODE_ENV);
    // // _layoutMenu
    // me = this;
    // // this.$refs._layoutCabecera.clickMenu(null);
    // me.$refs._layoutCabecera.clickMenu(() => {
    //   me.$refs._layoutMenu.changueStatus();
    // });
    // me.DBcargaRegistros();
  },
  methods: {
    // selectItem(item) {
    //   me.itemData = item;
    //   console.log(me.itemData);
    // },
    // eliminarItem(item) {
    //   me.$refs._DialogoConfirma.show();
    //   me.$refs._DialogoConfirma.setTitle("Eliminar registro");
    //   me.$refs._DialogoConfirma.setMessage(
    //     "¿Deseas realmente elimnar este registro?"
    //   );
    //   me.$refs._DialogoConfirma.setPositive("Continuar");
    //   me.$refs._DialogoConfirma.setPositiveEvent(() => {
    //     me.$refs._DialogoConfirma.dissmis();
    //     me.$refs._DialogoCargando.setMessage("Eliminando...");
    //     me.$refs._DialogoCargando.show();
    //     apiAxios
    //       .deleteCursos({ id_curso: item.id })
    //       .then((response) => {
    //         if (response.data.status) {
    //           me.$refs._DialogoCargando.dissmis();
    //           me.status = false;
    //           me.onViewResult({ view: "deleted", data: true });
    //         } else {
    //           me.$refs._DialogoCargando.dissmis();
    //           me.onViewResult({ view: "deleted", data: false });
    //         }
    //       })
    //       .catch(function (err) {
    //         console.log(err);
    //         me.$refs._DialogoCargando.dissmis();
    //         me.onViewResult({ view: "deleted", data: false });
    //       });
    //   });
    // },
    // DBcargaRegistros() {
    //   apiAxios
    //     .getCursos({
    //       cantidad_por_pagina: me.cantidad_por_pagina,
    //       pagina: me.pagina,
    //       buscar: me.txtBuscar,
    //     })
    //     .then((response) => {
    //       me.arrayTabla = response.data.data;
    //       console.log(me.arrayTabla.filas[0].direccion);
    //     })
    //     .catch(function (err) {
    //       console.log(err);
    //     });
    // },
    // onViewResult({ view, data = null }) {
    //   switch (view) {
    //     case "created":
    //       if (data == true) {
    //         me.DBcargaRegistros();
    //       }
    //       break;
    //     case "updated":
    //       if (data == true) {
    //         me.DBcargaRegistros();
    //       }
    //       break;
    //     case "deleted":
    //       if (data == true) {
    //         me.DBcargaRegistros();
    //       }
    //       break;
    //   }
    // },
  },
};
</script>

<style>
</style>