<template>
  <!-- contenido categorias -->
  <div class="position-relative row h-100% w-100%">
    <div class="scroll-vertical col h-100% bg w-100%">
      <div class="col w-100% align-center">
        <div class="row w-100% justify-center">
          <div class="sm:col-12 md:col-5 lg:col-3 col p-5">
            <div class="col w-100% align-center mt-10">
              <img class="h-20" src="@/assets/logo.png" />
              <div class="h-20"></div>
              <h1
                class="
                  sm:text-size-7
                  md:text-size-7
                  bold
                  text-primary
                  pb-3
                  mt-5
                "
              >
                Iniciar sesión
              </h1>
              <h1 class="text-size-3 text-center text-dark-2 pb-5 mb-4">
                Ingresa al sistema de forma facil con tu numero de celular
              </h1>
            </div>

            <EditText
              v-model="form.numero"
              :placeholder="'Número de celular'"
              :type="'number'"
              :min="6"
              :max="8"
              ref="_tvCellPhoneNumber"
              @pressEnter="validateFormLogin"
            ></EditText>

            <div class="row justify-end">
              <ButtonPrimary
                class="
                  sm:w-80%
                  sm:h-8
                  md:text-size-3
                  md:w-60%
                  md:h-10
                  md:text-size-4
                  text-white
                  mt-3
                "
                :text="'Iniciar sesion'"
                :icon="'icon-next'"
                @click="validateFormLogin"
              ></ButtonPrimary>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <DialogConfirm
        title="Numero no registrado"
        :message="'Este numero esta registrado en el sistema\n¿Deseas crear un cuenta rapida ahora?'"
        :negativeButton="'Cancelar'"
        :positiveButton="'Continuar'"
        @negativeButtonClick="cierraDialogo()"
        @positiveButtonClick="cierraDialogo()"
        ref="refDialogConfirm"
      >
      </DialogConfirm> -->

    <DialogConfirm ref="refDialogConfirm"></DialogConfirm>

    <DialogLoading ref="refDialogoLoading"></DialogLoading>
  </div>
  <!-- end contenido categorias -->
</template>

<script>
import EditText from "@/components/EditText";
// import button_primary from "@/components/button-primary.vue";
import ButtonPrimary from "@/components/ButtonPrimary";
import DialogConfirm from "@/components/DialogConfirm";
import DialogLoading from "@/components/DialogLoading";
import apiAxios from "@/utils/axios.js";
export default {
  components: {
    // "button-primary": button_primary,
    ButtonPrimary: ButtonPrimary,
    EditText: EditText,
    DialogConfirm: DialogConfirm,
    DialogLoading: DialogLoading,
  },
  data() {
    return {
      form: {
        numero: "",
        codigo: "591",
      },
    };
  },
  mounted() {
    console.log(process.env.VUE_APP_NODE_ENV);
  },
  methods: {
    cierraDialogo() {
      alert("asda");
      this.$refs.refDialogConfirm.dissmis();
    },
    validateFormLogin() {
      //validamos el campo de numero de celular
      if (this.$refs._tvCellPhoneNumber.getText().length <= 5) {
        this.$refs._tvCellPhoneNumber.showError(
          "El número debe tener 8 digitos."
        );
        return;
      }
      this.$refs._tvCellPhoneNumber.dissmisError();
      //si todo anda bien hacemos la peticion al API
      this.DBlogin();
    },
    DBverifyNumber() {
      let me = this;
      this.$refs.refDialogoLoading.setMessage("Verificando número...");
      this.$refs.refDialogoLoading.show();
      apiAxios
        .userVerifyNumber({
          celular: "591-" + this.$refs._tvCellPhoneNumber.getText(),
        })
        .then((response) => {
          this.$refs.refDialogoLoading.dissmis();
          if (response.data.data.estado == "Nuevo") {
            this.$refs.refDialogConfirm.show();
            this.$refs.refDialogConfirm.setTitle("Número no registrado");
            this.$refs.refDialogConfirm.setMessage(
              response.data.message + "\n¿Deseas crear un cuenta gratis ahora?"
            );
            this.$refs.refDialogConfirm.setImage(
              require("@/assets/smartphone_decilne.svg")
            );
            this.$refs.refDialogConfirm.setPositive("Continuar");
            this.$refs.refDialogConfirm.setPositiveEvent(() => {
              me.$refs.refDialogConfirm.dissmis();
              me.$router.push({
                name: "registro-number",
                params: { numero: me.$refs._tvCellPhoneNumber.getText() },
              });
            });
            this.$refs.refDialogConfirm.show();
          }
        })
        .catch(function (err) {
          this.$refs.refDialogoLoading.dissmis();
          console.log(err);
        });

      console.log("Iniciar session " + this.$refs._tvCellPhoneNumber.getText());
    },
    DBlogin() {
      let me = this;
      this.$refs.refDialogoLoading.setMessage("Recuperando datos...");
      this.$refs.refDialogoLoading.show();
      var form = new FormData();
      form.append("celular", this.form.numero);
      form.append("codigo_pais", this.form.codigo);
      apiAxios
        .login({
          form: form,
        })
        .then((response) => {
          this.$refs.refDialogoLoading.dissmis();

          if (response.data.data.estado == "Nuevo") {
            this.$refs.refDialogConfirm.show();
            this.$refs.refDialogConfirm.setTitle("Usuario no encontrado");
            this.$refs.refDialogConfirm.setMessage(response.data.message);
            this.$refs.refDialogConfirm.setImage(require("@/assets/error.svg"));
            this.$refs.refDialogConfirm.setPositiveText("Volver");
          } else {
            //guardamos los datos y cargamos la pagina de inicio
            localStorage.setItem("id_usuario", response.data.data.id_usuario);
            localStorage.setItem(
              "tipo_usuario",
              response.data.data.tipo_usuario
            );
            localStorage.setItem("nombre", response.data.data.nombre);
            localStorage.setItem("apellido", response.data.data.apellido);
            localStorage.setItem("foto", response.data.data.foto);
            localStorage.setItem("direccion", response.data.data.direccion);
            localStorage.setItem("codigo_pais", response.data.data.codigo_pais);
            localStorage.setItem("celular", response.data.data.celular);
            localStorage.setItem("ciudad", response.data.data.ciudad);
            //dirigimos a la pantalla de incio
            this.$router.replace("/");
          }
        })
        .catch(function (err) {
          this.$refs.refDialogoLoading.dissmis();
          this.$refs.refDialogConfirm.show();
          this.$refs.refDialogConfirm.setTitle("Error de conexión");
          this.$refs.refDialogConfirm.setMessage(
            "Hubo un problema de conexión, verifica que tengas acceso a internet o que los datos que enviaste sean correctos"
          );
          this.$refs.refDialogConfirm.setImage(require("@/assets/error.svg"));
          this.$refs.refDialogConfirm.setPositiveText("Volver");
        });
    },
  },
};
</script>

<style>
</style>