<template>
  <div
    v-if="status"
    class="sm:w-100% sm:position-fixed md:w-20% lg:w-20% h-100% z-5"
    style="background: #00000070"
  >
    <div class="row h-100% w-100%">
      <div class="col bg-primary h-100% sm:w-80% md:w-100%">
        <div class="row p-2 mt-6 mb-3">
          <div class="col border-radius-2 w-100% align-center">
            <img class="w-13 h-10" src="@/assets/logo.png" />
            <h1 class="text-white bold text-size-5 w-100% text-center mb-3">
              Administrador
            </h1>
          </div>
        </div>

        <div class="row w-100% justify-center mb-6">
          <hr class="bg-white opacity-2 w-70%" style="height: 2px" />
        </div>
        <!-- cuerpo de la pagina -->
        <div class="position-relative row flex-1 w-100%">
          <div class="position-absolute col w-100% h-100%">
            <div class="scroll-vertical h-100% bg w-100%">
              <div class="col w-100%">
                <div
                  v-for="(item, index) in $router.options.routes"
                  :key="index"
                >
                  <router-link
                    v-if="index < 6"
                    class="
                      cursor-pointer
                      row
                      w-100%
                      align-center
                      hover:text-accent-3
                      border-radius-1
                    "
                    :class="[
                      $route.name == item.name ||
                      (item.name == 'Albergues' &&
                        $route.name == 'Albergue mascotas') ||
                      (item.name == 'Usuarios' && $route.name == 'Mis mascotas')
                        ? 'text-white'
                        : 'text-white opacity-4',
                    ]"
                    :to="item.path"
                    @click="viewMovil ? dissmis() : show()"
                  >
                    <div
                      class="
                        w-1
                        h-12
                        bg-accent
                        border-radius-bottom-right-1 border-radius-top-right-1
                        mr-6
                      "
                      :class="[
                        $route.name == item.name ||
                        (item.name == 'Albergues' &&
                          $route.name == 'Albergue mascotas') ||
                        (item.name == 'Usuarios' &&
                          $route.name == 'Mis mascotas')
                          ? 'opacity-9'
                          : 'opacity-1',
                      ]"
                    ></div>
                    <i
                      :class="[item.icon ? item.icon : '']"
                      class="cursor-pointer text-size-3 bold pr-2"
                    ></i>
                    <label class="flex-1 text-size-3 cursor-pointer">{{
                      item.name
                    }}</label>
                  </router-link>
                </div>
                <div
                  class="
                    cursor-pointer
                    row
                    hover:text-accent-3
                    border-radius-1
                    ph-4
                    pv-4
                  "
                  :class="[title == '' ? 'text-white' : 'text-white opacity-4']"
                  @click="cerrarSession()"
                >
                  <i
                    class="
                      fas
                      fa-sign-out-alt
                      cursor-pointer
                      text-size-3
                      bold
                      pr-2
                    "
                  ></i>
                  <label class="text-size-3 cursor-pointer"
                    >Cerrar sesión</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col h-100% flex-1" @click="status = !status"></div>
    </div>
  </div>
</template>

<script>
let me = null;
export default {
  props: ["title"],
  data() {
    return {
      status: true,
      viewMovil: true,
    };
  },
  created() {
    me = this;
    window.popStateDetected = false;
    //evento de back press
    window.addEventListener("popstate", () => {
      window.popStateDetected = true;
      me.changueStatus();
    });
    //evento resize
    window.addEventListener("resize", this.handleResize);
    this.handleResize();
  },
  destroyed() {
    window.removeEventListener("resize", this.handleResize);
  },
  methods: {
    cerrarSession() {
      //guardamos los datos y cargamos la pagina de inicio
      localStorage.removeItem("id_usuario");
      localStorage.removeItem("tipo_usuario");
      localStorage.removeItem("nombre");
      localStorage.removeItem("apellido");
      localStorage.removeItem("foto");
      localStorage.removeItem("direccion");
      localStorage.removeItem("codigo_pais");
      localStorage.removeItem("celular");
      localStorage.removeItem("ciudad");
      //dirigimos a la pantalla de incio
      this.$router.replace("/autentifica");
    },
    handleResize() {
      this.GLOBAL.log("ancho " + window.innerWidth);
      if (window.innerWidth <= 767 && this.status == true) {
        this.dissmis();
      } else {
        this.show();
      }
      //variable que guarda el estado si es un movil o pc
      this.viewMovil = window.innerWidth <= 767 ? true : false;

      // this.window.width = window.innerWidth;
      // this.window.height = window.innerHeight;
    },
    show() {
      this.status = true;
    },
    dissmis() {
      this.status = false;
    },
    changueStatus() {
      // if (this.viewMovil) {
      this.status = !this.status;
      // }
    },
  },
};
</script>

<style>
</style>