<template>
  <div class="row shadow-1 p-4 text-dark align-center">
    <i class="fas fa-bars text-size-4 pr-3" @click="allData.pressMenu"></i>
    <h1 class="flex-1 text-size-4"></h1>
  </div>
</template>

<script>
export default {
  props: ["title", "pressMenu"],
  data() {
    return {
      _pressMenu: null,
    };
  },
  computed: {
    allData() {
      return {
        pressMenu: this.pressMenu ? this.pressMenu : this._pressMenu,
      };
    },
  },
  methods: {
    clickMenu(fun) {
      this._pressMenu = fun;
    },
  },
};
</script>

<style>
</style>