<template>
  <div
    class="
      row
      bg-accent
      hover:bg-accent-1
      border-radius-1
      p-1
      text-white
      align-center
      position-relative
      cursor-pointer
      justify-center
      align-center
    "
  >
    <div
      v-if="text"
      class="bg-transparent text-center"
      :class="[icon ? 'mr-2' : 'flex-1 ']"
      v-text="text"
    ></div>
    <span class="text-size-4" :class="icon"></span>
    <span
      v-if="number_notification"
      class="
        w-4
        h-4
        bg-red
        text-size-2
        border-radius-4
        position-absolute
        top-0
        right-0
        text-center
      "
    >
      {{ number_notification }}
    </span>
  </div>
</template>

<script>
export default {
  props: ["text", "icon", "number_notification"],
};
</script>

<style scoped>
</style>