<template>
  <div
    v-if="status"
    class="
      modal
      position-fixed
      z-5
      top-0
      left-0
      justify-center
      align-center
      w-100%
      h-max
      flex
    "
  >
    <div class="row p-2 w-100% justify-center">
      <div
        class="
          sm:col-12
          md:col-4
          lg:col-3
          col
          bg-white
          shadow-1
          border-radius-2
          p-2
          align-center
        "
      >
        <div class="loader"></div>
        <label
          class="text-size-3 bold mb-2 mt-2 text-primary text-center w-100%"
          >{{ message }}</label
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      status: false,
      message: "",
    };
  },
  methods: {
    show() {
      this.status = true;
    },
    dissmis() {
      this.status = false;
    },
    setMessage(message) {
      this.message = message;
    },
  },
};
</script>

<style>
.modal {
  background-color: rgba(0, 0, 0, 0.384);
  transition: opacity 0.9s;
}

.loader {
  margin: 40px auto;
  font-size: 6px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #5c5b76,
      1.8em -1.8em 0 0em rgba(92, 91, 118, 0.2),
      2.5em 0em 0 0em rgba(92, 91, 118, 0.2),
      1.75em 1.75em 0 0em rgba(92, 91, 118, 0.2),
      0em 2.5em 0 0em rgba(92, 91, 118, 0.2),
      -1.8em 1.8em 0 0em rgba(92, 91, 118, 0.2),
      -2.6em 0em 0 0em rgba(92, 91, 118, 0.5),
      -1.8em -1.8em 0 0em rgba(92, 91, 118, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(92, 91, 118, 0.7),
      1.8em -1.8em 0 0em #5c5b76, 2.5em 0em 0 0em rgba(92, 91, 118, 0.2),
      1.75em 1.75em 0 0em rgba(92, 91, 118, 0.2),
      0em 2.5em 0 0em rgba(92, 91, 118, 0.2),
      -1.8em 1.8em 0 0em rgba(92, 91, 118, 0.2),
      -2.6em 0em 0 0em rgba(92, 91, 118, 0.2),
      -1.8em -1.8em 0 0em rgba(92, 91, 118, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(92, 91, 118, 0.5),
      1.8em -1.8em 0 0em rgba(92, 91, 118, 0.7), 2.5em 0em 0 0em #5c5b76,
      1.75em 1.75em 0 0em rgba(92, 91, 118, 0.2),
      0em 2.5em 0 0em rgba(92, 91, 118, 0.2),
      -1.8em 1.8em 0 0em rgba(92, 91, 118, 0.2),
      -2.6em 0em 0 0em rgba(92, 91, 118, 0.2),
      -1.8em -1.8em 0 0em rgba(92, 91, 118, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(92, 91, 118, 0.2),
      1.8em -1.8em 0 0em rgba(92, 91, 118, 0.5),
      2.5em 0em 0 0em rgba(92, 91, 118, 0.7), 1.75em 1.75em 0 0em #5c5b76,
      0em 2.5em 0 0em rgba(92, 91, 118, 0.2),
      -1.8em 1.8em 0 0em rgba(92, 91, 118, 0.2),
      -2.6em 0em 0 0em rgba(92, 91, 118, 0.2),
      -1.8em -1.8em 0 0em rgba(92, 91, 118, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(92, 91, 118, 0.2),
      1.8em -1.8em 0 0em rgba(92, 91, 118, 0.2),
      2.5em 0em 0 0em rgba(92, 91, 118, 0.5),
      1.75em 1.75em 0 0em rgba(92, 91, 118, 0.7), 0em 2.5em 0 0em #5c5b76,
      -1.8em 1.8em 0 0em rgba(92, 91, 118, 0.2),
      -2.6em 0em 0 0em rgba(92, 91, 118, 0.2),
      -1.8em -1.8em 0 0em rgba(92, 91, 118, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(92, 91, 118, 0.2),
      1.8em -1.8em 0 0em rgba(92, 91, 118, 0.2),
      2.5em 0em 0 0em rgba(92, 91, 118, 0.2),
      1.75em 1.75em 0 0em rgba(92, 91, 118, 0.5),
      0em 2.5em 0 0em rgba(92, 91, 118, 0.7), -1.8em 1.8em 0 0em #5c5b76,
      -2.6em 0em 0 0em rgba(92, 91, 118, 0.2),
      -1.8em -1.8em 0 0em rgba(92, 91, 118, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(92, 91, 118, 0.2),
      1.8em -1.8em 0 0em rgba(92, 91, 118, 0.2),
      2.5em 0em 0 0em rgba(92, 91, 118, 0.2),
      1.75em 1.75em 0 0em rgba(92, 91, 118, 0.2),
      0em 2.5em 0 0em rgba(92, 91, 118, 0.5),
      -1.8em 1.8em 0 0em rgba(92, 91, 118, 0.7), -2.6em 0em 0 0em #5c5b76,
      -1.8em -1.8em 0 0em rgba(92, 91, 118, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(92, 91, 118, 0.2),
      1.8em -1.8em 0 0em rgba(92, 91, 118, 0.2),
      2.5em 0em 0 0em rgba(92, 91, 118, 0.2),
      1.75em 1.75em 0 0em rgba(92, 91, 118, 0.2),
      0em 2.5em 0 0em rgba(92, 91, 118, 0.2),
      -1.8em 1.8em 0 0em rgba(92, 91, 118, 0.5),
      -2.6em 0em 0 0em rgba(92, 91, 118, 0.7), -1.8em -1.8em 0 0em #5c5b76;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #5c5b76,
      1.8em -1.8em 0 0em rgba(92, 91, 118, 0.2),
      2.5em 0em 0 0em rgba(92, 91, 118, 0.2),
      1.75em 1.75em 0 0em rgba(92, 91, 118, 0.2),
      0em 2.5em 0 0em rgba(92, 91, 118, 0.2),
      -1.8em 1.8em 0 0em rgba(92, 91, 118, 0.2),
      -2.6em 0em 0 0em rgba(92, 91, 118, 0.5),
      -1.8em -1.8em 0 0em rgba(92, 91, 118, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(92, 91, 118, 0.7),
      1.8em -1.8em 0 0em #5c5b76, 2.5em 0em 0 0em rgba(92, 91, 118, 0.2),
      1.75em 1.75em 0 0em rgba(92, 91, 118, 0.2),
      0em 2.5em 0 0em rgba(92, 91, 118, 0.2),
      -1.8em 1.8em 0 0em rgba(92, 91, 118, 0.2),
      -2.6em 0em 0 0em rgba(92, 91, 118, 0.2),
      -1.8em -1.8em 0 0em rgba(92, 91, 118, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(92, 91, 118, 0.5),
      1.8em -1.8em 0 0em rgba(92, 91, 118, 0.7), 2.5em 0em 0 0em #5c5b76,
      1.75em 1.75em 0 0em rgba(92, 91, 118, 0.2),
      0em 2.5em 0 0em rgba(92, 91, 118, 0.2),
      -1.8em 1.8em 0 0em rgba(92, 91, 118, 0.2),
      -2.6em 0em 0 0em rgba(92, 91, 118, 0.2),
      -1.8em -1.8em 0 0em rgba(92, 91, 118, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(92, 91, 118, 0.2),
      1.8em -1.8em 0 0em rgba(92, 91, 118, 0.5),
      2.5em 0em 0 0em rgba(92, 91, 118, 0.7), 1.75em 1.75em 0 0em #5c5b76,
      0em 2.5em 0 0em rgba(92, 91, 118, 0.2),
      -1.8em 1.8em 0 0em rgba(92, 91, 118, 0.2),
      -2.6em 0em 0 0em rgba(92, 91, 118, 0.2),
      -1.8em -1.8em 0 0em rgba(92, 91, 118, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(92, 91, 118, 0.2),
      1.8em -1.8em 0 0em rgba(92, 91, 118, 0.2),
      2.5em 0em 0 0em rgba(92, 91, 118, 0.5),
      1.75em 1.75em 0 0em rgba(92, 91, 118, 0.7), 0em 2.5em 0 0em #5c5b76,
      -1.8em 1.8em 0 0em rgba(92, 91, 118, 0.2),
      -2.6em 0em 0 0em rgba(92, 91, 118, 0.2),
      -1.8em -1.8em 0 0em rgba(92, 91, 118, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(92, 91, 118, 0.2),
      1.8em -1.8em 0 0em rgba(92, 91, 118, 0.2),
      2.5em 0em 0 0em rgba(92, 91, 118, 0.2),
      1.75em 1.75em 0 0em rgba(92, 91, 118, 0.5),
      0em 2.5em 0 0em rgba(92, 91, 118, 0.7), -1.8em 1.8em 0 0em #5c5b76,
      -2.6em 0em 0 0em rgba(92, 91, 118, 0.2),
      -1.8em -1.8em 0 0em rgba(92, 91, 118, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(92, 91, 118, 0.2),
      1.8em -1.8em 0 0em rgba(92, 91, 118, 0.2),
      2.5em 0em 0 0em rgba(92, 91, 118, 0.2),
      1.75em 1.75em 0 0em rgba(92, 91, 118, 0.2),
      0em 2.5em 0 0em rgba(92, 91, 118, 0.5),
      -1.8em 1.8em 0 0em rgba(92, 91, 118, 0.7), -2.6em 0em 0 0em #5c5b76,
      -1.8em -1.8em 0 0em rgba(92, 91, 118, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(92, 91, 118, 0.2),
      1.8em -1.8em 0 0em rgba(92, 91, 118, 0.2),
      2.5em 0em 0 0em rgba(92, 91, 118, 0.2),
      1.75em 1.75em 0 0em rgba(92, 91, 118, 0.2),
      0em 2.5em 0 0em rgba(92, 91, 118, 0.2),
      -1.8em 1.8em 0 0em rgba(92, 91, 118, 0.5),
      -2.6em 0em 0 0em rgba(92, 91, 118, 0.7), -1.8em -1.8em 0 0em #5c5b76;
  }
}
</style>