<template>
  <div
    v-if="status"
    class="
      modal
      position-fixed
      z-5
      top-0
      left-0
      justify-center
      align-center
      w-100%
      h-max
      flex
    "
  >
    <div class="row p-2 w-100% sm:h-100% md:h-90% justify-center">
      <div
        class="
          sm:col-12
          md:col-8
          lg:col-8
          col
          bg-white
          shadow-1
          border-radius-2
          p-2
          align-center
        "
      >
        <label
          class="text-size-3 bold mb-2 mt-2 text-primary text-center w-100%"
          >{{ title }}</label
        >
        <h1 class="text-size-2 text-primary-3 text-center w-100% mb-4">
          Edición de componente(s)
        </h1>

        <div class="flex-1 position-relative w-100% bg-white-1">
          <div class="scroll-vertical">
            <div class="col align-center pv-4">
              <div
                class="col sm:w-100% md:w-80% text-size-3"
                v-for="(item, index) in arrayInputs"
                :key="index"
              >
                <!-- checkbox -->
                <div class="row w-100% mb-2" v-if="item.type == 'checkbox'">
                  <div
                    class="
                      col-3 col
                      bold
                      text-size-2
                      justify-center
                      text-right
                      pr-2
                      text-primary
                    "
                  >
                    {{ item.title }}
                  </div>
                  <div class="col-9">
                    <input type="checkbox" v-model="item.value" />
                  </div>
                </div>
                <!-- text -->
                <div
                  class="row w-100% mb-2"
                  v-if="item.type == 'text' || item.type == 'number'"
                >
                  <div
                    class="
                      col-3 col
                      justify-center
                      bold
                      text-size-2 text-right
                      pr-2
                      text-primary
                    "
                  >
                    {{ item.title }}
                  </div>
                  <div class="col-9">
                    <EditText
                      v-model="item.value"
                      :type="item.type"
                      placeholder="Escribe aqui..."
                      :min="item.rule ? item.rule.minLength : 0"
                      :max="item.rule ? item.rule.maxLength : 999999"
                      @onError="onError"
                    ></EditText>
                  </div>
                </div>
                <!-- area -->
                <div class="row w-100% mb-2" v-if="item.type == 'area'">
                  <div
                    class="col-3 text-right pr-2 bold text-size-2 text-primary"
                  >
                    {{ item.title }}
                  </div>
                  <div class="col-9">
                    <EditArea
                      v-model="item.value"
                      :text="item.value"
                      placeholder="Escribe aqui..."
                      :min="item.rule ? item.rule.minLength : 0"
                      :max="item.rule ? item.rule.maxLength : 999999"
                    ></EditArea>
                  </div>
                </div>
                <!-- imagen -->
                <div class="row w-100% mb-2" v-if="item.type == 'img'">
                  <div
                    class="col-3 text-right pr-2 bold text-size-2 text-primary"
                  >
                    {{ item.title }}
                  </div>
                  <div class="sm:col-9 md:col-6 lg:col-3">
                    <img
                      v-if="item.value"
                      class="
                        border-radius-2 border-color-dark-3 border-solid-3
                        object-contain
                        w-100%
                        h-32
                      "
                      :src="item.value"
                    />

                    <div
                      v-else
                      class="
                        flex
                        justify-center
                        align-center
                        border-radius-2 border-color-dark-3 border-solid-3
                        h-32
                        text-dark-3
                      "
                      :src="item.value"
                    >
                      <label>Sin imagen</label>
                    </div>

                    <input
                      class="w-100% text-primary p-2"
                      type="file"
                      :ref="'fileImage' + index"
                      accept=".png,.jpeg,.jpg"
                      @change="handleFilesUpload(index)"
                    />
                  </div>
                </div>
                <!-- color -->
                <div class="row w-100% mb-2" v-if="item.type == 'color'">
                  <div
                    class="col-3 text-right pr-2 bold text-size-2 text-primary"
                  >
                    {{ item.title }}
                  </div>
                  <div class="col-9">
                    <input
                      class="
                        bg-transparent
                        border-solid-1 border-color-white-3
                        text-primary
                        w-20%
                      "
                      type="color"
                      v-model="item.value"
                    />
                  </div>
                </div>
                <!-- select -->
                <div class="row w-100% mb-2" v-if="item.type == 'select'">
                  <div
                    class="
                      col-3 col
                      justify-center
                      text-right
                      pr-2
                      bold
                      text-size-2 text-primary
                    "
                  >
                    {{ item.title }}
                  </div>
                  <div class="col-9">
                    <EditSelect
                      ref="_esCiudad"
                      :items="item.items"
                      v-model="item.value"
                    ></EditSelect>
                  </div>
                </div>

                <!-- titulo -->
                <div class="row w-100% mb-2" v-if="item.type == 'title'">
                  <div
                    class="
                      col-12 col
                      justify-center
                      text-center
                      ph-2
                      pv-3
                      text-primary
                      bold
                    "
                  >
                    {{ item.value }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-center align-center mt-4">
          <button
            @click="status = false"
            class="
              cursor-pointer
              bg-transparent
              text-primary-3
              hover:text-primary-1
              text-size-2
              border-radius-5
              pl-3
              pr-3
              pt-1
              pb-1
            "
          >
            "Cancelar"
          </button>
          <ButtonPrimary
            :class="[existErrorForm ? 'bg-red' : 'bg-primary']"
            text="Continuar"
            v-on:click="onClickListenerPositive"
          ></ButtonPrimary>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import editIamge from "@/components/EditImage";
import editSelect from "@/components/EditSelect";
import ButtonPrimary from "@/components/ButtonPrimary";
import EditText from "@/components/EditText";
import EditArea from "@/components/EditArea";
import EditSelect from "@/components/EditSelect";

let me = null;
export default {
  components: {
    editIamge,
    editSelect,
    ButtonPrimary,
    EditText,
    EditArea,
    EditSelect,
  },
  data() {
    return {
      status: false,
      title: "",
      arrayInputs: [],
      onClickListenerPositive: null,
      existErrorForm: false,
    };
  },
  mounted() {
    me = this;
  },
  updated() {
    //cuando el dialogo es cargado
    // setTimeout(function () {
    //   me.$refs._esCiudad.setId("La Paz");
    //   me.$refs._esCiudad.setItems({
    //     "La Paz": "La Paz",
    //     Oruro: "Oruro",
    //     Potosi: "Potosi",
    //     Chuquisaca: "Chuquisaca",
    //     Tarija: "Tarija",
    //     Cochabamba: "Cochabamba",
    //     "Santa Cruz": "Santa Cruz",
    //     Beni: "Beni",
    //     Pando: "Pando",
    //   });
    // }, 200);
  },
  methods: {
    show() {
      me.GLOBAL.log("Show dialogo");
      me.status = true;
    },
    dissmis() {
      me.arrayInputs = [];
      me.status = false;
    },
    setTitle(data) {
      this.title = data;
    },
    setElements(data) {
      this.arrayInputs = data;
    },
    getElements() {
      return this.arrayInputs;
    },
    handleFilesUpload(index) {
      let uploadedFiles = this.$refs["fileImage" + index].files[0];
      this.arrayInputs[index].value = URL.createObjectURL(uploadedFiles);
      this.arrayInputs[index].file = uploadedFiles;
    },
    setOnClickListenerPositive(item) {
      this.onClickListenerPositive = item;
    },
    onError(value) {
      this.existErrorForm = value;
    },
  },
};
</script>

<style scoped>
.modal {
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.9s;
}
</style>