<template>
  <div
    v-if="status"
    class="
      modal
      position-fixed
      z-5
      top-0
      left-0
      justify-center
      align-center
      w-100%
      h-max
      flex
    "
  >
    <div class="row p-2 w-100% justify-center">
      <div
        class="
          sm:col-12
          md:col-6
          lg:col-3
          col
          bg-white
          shadow-1
          border-radius-2
          p-2
          align-center
        "
      >
        <img v-if="imageUrl" :src="imageUrl" class="w-28 h-28" />
        <label
          v-if="title"
          class="text-size-3 bold mb-2 mt-2 text-primary text-center w-100%"
          >{{ title }}</label
        >
        <p v-if="message" class="text-size-2 text-dark-2 text-center w-100%">
          {{ message }}
        </p>

        <div class="row justify-center align-center mt-6">
          <button
            v-if="negativeText"
            @click="clickNegative != null ? clickNegative : (status = false)"
            class="
              cursor-pointer
              bg-transparent
              text-dark-2
              hover:text-dark
              text-size-2
              border-radius-5
              pl-3
              pr-3
              pt-1
              pb-1
            "
          >
            {{ negativeText != null ? negativeText : "Cancelar" }}
          </button>
          <ButtonPrimary
            v-if="positiveText"
            :text="positiveText != null ? positiveText : 'Aceptar'"
            @click="clickPositive"
          ></ButtonPrimary>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ButtonPrimary from "@/components/ButtonPrimary";
export default {
  components: {
    ButtonPrimary,
  },
  data() {
    return {
      status: false,
      message: "",
      title: "",
      clickPositive: null,
      positiveText: null,
      clickNegative: null,
      negativeText: null,
      imageUrl: null,
    };
  },
  // updated() {
  //   this.clickPositive != null ? this.clickPositive : (status = false);
  // },
  methods: {
    show() {
      this.status = true;
    },
    dissmis() {
      this.status = false;
    },
    setTitle(data) {
      this.title = data;
    },
    setMessage(data) {
      this.message = data;
    },
    setPositiveText(text) {
      this.positiveText = text;
    },
    setPositiveOnClick(data) {
      this.clickPositive = data;
    },
    setNegativeText(text) {
      this.negativeText = text;
    },
    setNegativeOnClick(data) {
      this.clickNegative = data;
    },
    setImage(data) {
      this.imageUrl = data;
    },
  },
};
</script>

<style>
.modal {
  background-color: rgba(0, 0, 0, 0.384);
  transition: opacity 0.9s;
}
</style>