<template>
  <div class="col align-center">
    <div class="row">
      <div
        class="position-relative"
        :class="[width ? width : 'w-32', height ? height : 'h-32']"
      >
        <img
          v-if="existImage"
          class="
            border-radius-2 border-color-dark-3 border-solid-3
            object-cover
          "
          :class="[width ? width : 'w-32', height ? height : 'h-32']"
          :src="nameBase != null ? nameBase : nameImg"
          alt=""
        />
        <div
          v-else
          class="
            border-radius-2 border-color-dark-3 border-solid-3
            object-cover
          "
          :class="[width ? width : 'w-32', height ? height : 'h-32']"
        >
          Sin imagen
        </div>
        <label
          :for="id"
          class="
            position-absolute
            bg-dark-3
            bottom-0
            right-0
            p-2
            border-radius-top-left-2
            cursor-pointer
          "
          ><i class="fas fa-camera-retro"></i
        ></label>

        <input
          class="none"
          type="file"
          :id="id"
          ref="fileImage"
          multiple
          accept=".png,.jpeg,.jpg"
          @change="handleFilesUpload"
        />
      </div>
    </div>
    <label v-if="error" class="text-red text-size-2 w-100% text-right">{{
      error
    }}</label>
  </div>
</template>

<script>
export default {
  props: ["nameImg", "width", "height"],
  data() {
    return {
      error: null,
      existImage: false,
      nameBase: null,
      arrayFiles: [],
      id: this.GLOBAL.generateUUID(),
    };
  },
  mounted() {
    console.log("dialogo editar cargado: input iamge");
    this.handleExistImage();
  },
  methods: {
    getFile() {
      if (this.arrayFiles.length > 0) {
        console.log(this.arrayFiles[0]);
        return this.arrayFiles[0];
      }
      return null;
    },
    loadedImageExists() {
      return this.existImage;
    },
    showError(data) {
      this.error = data;
    },
    dissmisError() {
      this.error = null;
    },
    handleExistImage() {
      let name = this.nameBase != null ? this.nameBase : this.nameImg;
      this.existImage = false;
      if (name != null) {
        console.log(name.split(".").pop());
        if (
          name.split(".").pop() === "png" ||
          name.split(".").pop() === "jpg" ||
          name.split(".").pop() === "jpeg"
        ) {
          this.existImage = true;
        }
      }
    },
    handleFilesUpload() {
      this.arrayFiles = [];
      let uploadedFiles = this.$refs.fileImage.files;
      for (var i = 0; i < uploadedFiles.length; i++) {
        this.arrayFiles.push(uploadedFiles[i]);
      }
      if (this.arrayFiles.length > 0) {
        this.nameBase = URL.createObjectURL(this.arrayFiles[0]);
        this.existImage = true;
      }
    },
    setImage(name) {
      this.nameBase = name;
      this.handleExistImage();
    },
  },
};
</script>

<style>
</style>