<template>
  <div class="col">
    <div
      class="
        row
        bg-transparent
        border-solid-1 border-color-primary border-radius-1
        p-2
        align-center
      "
    >
      <textarea
        class="w-100% editext bg-transparent flex-1 text-primary"
        :class="[bold ? 'bold' : '']"
        :placeholder="placeholder"
        :value="allData.modelValue"
        @input="$emit('update:modelValue', $event.target.value)"
        v-on:keyup="validate()"
      ></textarea>
      <span class="text-size-4" :class="icon"></span>
    </div>
    <label v-if="error" class="text-red text-size-2 w-100% text-right">{{
      error
    }}</label>
  </div>
</template>

<script>
export default {
  props: ["modelValue", "placeholder", "icon", "bold", "min", "max", "rows"],
  data() {
    return {
      error: null,
      text: "",
    };
  },
  computed: {
    allData() {
      return {
        modelValue: this.modelValue ? this.modelValue : this.text,
      };
    },
  },
  mounted() {
    console.log("editText load: " + this.placeholder);
  },
  methods: {
    getText() {
      return this.allData.modelValue;
    },
    setText(text) {
      this.allData.modelValue = text;
    },
    enter() {
      this.$emit("pressEnter");
    },
    validate() {
      this.GLOBAL.log(
        "valida texto: " + this.allData.modelValue.length + "-" + this.min
      );
      //valida errores
      if (this.min && this.allData.modelValue.length < this.min) {
        this.showError(
          "El campo debe tener minimo " + this.min + " caracteres."
        );
        return;
      }
      if (this.max && this.allData.modelValue.length > this.max) {
        this.showError(
          "El campo debe tener maximo " + this.max + " caracteres."
        );
        return;
      }
      this.dissmisError();
    },
    isValidate() {
      return this.error == null ? true : false;
    },
    showError(data) {
      this.error = data;
      this.$emit("onError", true);
    },
    dissmisError() {
      this.error = null;
      this.$emit("onError", false);
    },
  },
};
</script>

<style scoped>
.editext:focus::placeholder {
  color: rgba(148, 148, 148, 0.473);
}
.editext::placeholder {
  font-weight: normal;
  color: rgba(41, 41, 41, 0.562);
}

.editext:valid {
  font-weight: 550;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
</style>