<template>
  <div class="col">
    <div
      class="
        row
        border-solid-1 border-color-primary border-radius-1
        p-2
        align-center
      "
    >
      <select
        class="w-100% bg-transparent flex-1 text-dark"
        :class="[bold ? 'bold' : '']"
        @change="$emit('update:modelValue', $event.target.value)"
      >
        <option
          v-for="(item, name, index) in allData.items"
          :key="index"
          :value="name"
          :selected="allData.modelValue === name"
        >
          {{ item }}
        </option>
      </select>
    </div>
    <label v-if="error" class="text-red text-size-2 w-100% text-right">{{
      error
    }}</label>
  </div>
</template>

<script>
export default {
  props: ["bold", "items", "modelValue"],
  data() {
    return {
      error: null,
      _id: "",
      _items: {},
    };
  },
  // updated() {},
  computed: {
    allData() {
      return {
        items: this.items ? this.items : this._id,
        modelValue: this.modelValue ? this.modelValue : this._items,
      };
    },
  },
  methods: {
    getValue() {
      return this.allData.modelValue.lenght <= 0 ||
        this.allData.modelValue == "" ||
        this.allData.modelValue == null
        ? ""
        : this.allData.items[this.allData.id];
    },
    getId() {
      return this.allData.modelValue;
    },
    setId(id) {
      this.allData.modelValue = id;
    },
    setItems(items) {
      this.allData.items = items;
    },
    showError(data) {
      this.error = data;
    },
    dissmisError() {
      this.error = null;
    },
  },
};
</script>

<style scoped>
.editext:focus::placeholder {
  color: rgba(0, 0, 0, 0.336);
}
.editext::placeholder {
  color: var(--color-dark);
}
.editext:focus {
  outline: 0;
  outline: none;
}
</style>