:root {
   --background-bar-color: #e6e6e600;
   --background-bar-color-focus: #b8b8b8;
   --background-indicator-color: #b8b8b800;
}
.scroll-vertical {
   overflow-y: auto;
   position: absolute;
   height: 100%;
   width: 100%;
}
@media screen and (max-width: 767px) {
   .sm\:scroll-vertical {
      overflow-y: auto;
      position: absolute;
      height: 100%;
      width: 100%;
   }
   .scroll-vertical::-webkit-scrollbar {
      display: none;
   }
}
@media screen and (min-width: 768px) {
   .md\:scroll-vertical {
      overflow-y: auto;
      position: absolute;
      height: 100%;
      width: 100%;
   }
}
@media screen and (min-width: 1280px) {
   .lg\:scroll-vertical {
      overflow-y: auto;
      position: absolute;
      height: 100%;
      width: 100%;
   }
}

.scroll\:bar-white:hover::-webkit-scrollbar-thumb {
   background: var(--color-white) !important;
}
.scroll\:bar-white-1:hover::-webkit-scrollbar-thumb {
   background: var(--color-white-1) !important;
}
.scroll\:bar-white-2:hover::-webkit-scrollbar-thumb {
   background: var(--color-white-2) !important;
}
.scroll\:bar-white-3:hover::-webkit-scrollbar-thumb {
   background: var(--color-white-3) !important;
}
.scroll\:bar-dark:hover::-webkit-scrollbar-thumb {
   background: var(--color-dark) !important;
}
.scroll\:bar-dark-1:hover::-webkit-scrollbar-thumb {
   background: var(--color-dark-1) !important;
}
.scroll\:bar-dark-2:hover::-webkit-scrollbar-thumb {
   background: var(--color-dark-2) !important;
}
.scroll\:bar-dark-3:hover::-webkit-scrollbar-thumb {
   background: var(--color-dark-3) !important;
}
.scroll\:bar-primary:hover::-webkit-scrollbar-thumb {
   background: var(--color-primary) !important;
}
.scroll\:bar-primary-1:hover::-webkit-scrollbar-thumb {
   background: var(--color-primary-1) !important;
}
.scroll\:bar-primary-2:hover::-webkit-scrollbar-thumb {
   background: var(--color-primary-2) !important;
}
.scroll\:bar-primary-3:hover::-webkit-scrollbar-thumb {
   background: var(--color-primary-3) !important;
}
.scroll\:bar-accent:hover::-webkit-scrollbar-thumb {
   background: var(--color-accent) !important;
}
.scroll\:bar-accent-1:hover::-webkit-scrollbar-thumb {
   background: var(--color-accent-1) !important;
}
.scroll\:bar-accent-2:hover::-webkit-scrollbar-thumb {
   background: var(--color-accent-2) !important;
}
.scroll\:bar-accent-3:hover::-webkit-scrollbar-thumb {
   background: var(--color-accent-3) !important;
}
.scroll\:bar-blue:hover::-webkit-scrollbar-thumb {
   background: var(--color-blue) !important;
}
.scroll\:bar-green:hover::-webkit-scrollbar-thumb {
   background: var(--color-green) !important;
}
.scroll\:bar-yellow:hover::-webkit-scrollbar-thumb {
   background: var(--color-yellow) !important;
}
.scroll\:bar-orange:hover::-webkit-scrollbar-thumb {
   background: var(--color-orange) !important;
}
.scroll\:bar-red:hover::-webkit-scrollbar-thumb {
   background: var(--color-red) !important;
}
.scroll\:bar-brown:hover::-webkit-scrollbar-thumb {
   background: var(--color-brown) !important;
}
.scroll\:bar-purple:hover::-webkit-scrollbar-thumb {
   background: var(--color-purple) !important;
}
.scroll\:bar-pink:hover::-webkit-scrollbar-thumb {
   background: var(--color-pink) !important;
}
/* .scroll-horizontal {
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-100px);
  transform-origin: right top;
}
.scroll-horizontal * {
  transform: rotate(90deg);
  transform-origin: right top;
} */

/* .scroll-horizontal {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.scroll-horizontal * {
  flex: 0 0 auto;
} */
.scroll-horizontal:hover::-webkit-scrollbar-thumb,
.sm\:scroll-vertical:hover::-webkit-scrollbar-thumb,
.md\:scroll-vertical:hover::-webkit-scrollbar-thumb,
.lg\:scroll-vertical:hover::-webkit-scrollbar-thumb,
.scroll-vertical:hover::-webkit-scrollbar-thumb {
   background: var(--background-bar-color-focus);
}
.scroll-vertical::-webkit-scrollbar,
.sm\:scroll-vertical::-webkit-scrollbar,
.md\:scroll-vertical::-webkit-scrollbar,
.lg\:scroll-vertical::-webkit-scrollbar,
.scroll-horizontal::-webkit-scrollbar {
   width: 0.56rem;
}
.scroll-vertical::-webkit-scrollbar-track,
.sm\:scroll-vertical::-webkit-scrollbar-track,
.md\:scroll-vertical::-webkit-scrollbar-track,
.lg\:scroll-vertical::-webkit-scrollbar-track,
.scroll-horizontal::-webkit-scrollbar-track {
   background: var(--background-indicator-color);
}
.scroll-vertical::-webkit-scrollbar-thumb,
.sm\:scroll-vertical::-webkit-scrollbar-thumb,
.md\:scroll-vertical::-webkit-scrollbar-thumb,
.lg\:scroll-vertical::-webkit-scrollbar-thumb,
.scroll-horizontal::-webkit-scrollbar-thumb {
   background: var(--background-bar-color);
   border-radius: 15px;
   background-clip: padding-box;
}

.scroll-horizontal {
   overflow: auto;
   white-space: nowrap;
   position: absolute;
}
.scroll-horizontal::-webkit-scrollbar {
   display: none;
}

.horizontal-scroll-wrapper {
   position: absolute;
   display: block;
   top: 0;
   left: 0;
   width: 80px;
   max-height: 500px;
   margin: 0;
   background: #abc;
   overflow-y: auto;
   overflow-x: hidden;
   transform: rotate(-90deg) translateY(-80px);
   transform-origin: right top;
}
.horizontal-scroll-wrapper > div {
   display: block;
   padding: 5px;
   background: #cab;
   transform: rotate(90deg);
   transform-origin: right top;
}
/* .scroll-horizontal {
   width: 100%;
   height: 100px;
   transform: rotate(-90deg) translateX(-100vh);
   transform-origin: top left;
   overflow-y: scroll;
   overflow-x: hidden;
   position: absolute;
   scrollbar-width: none;
   -ms-overflow-style: none;
}
.scroll-horizontal * {
   display: flex;
   flex-direction: row;
   width: 400vw;
   transform: rotate(90deg) translateY(-100vh);
   transform-origin: top left;
} */

/* ::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
} */

/* .scroll-horizontal {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-80px);
  transform-origin: right top;
}
.scroll-horizontal * {
  display: block;
  background: #cab;
  transform: rotate(90deg);
  transform-origin: right top; */
/* } */
