<template>
  <div class="col w-100% h-100%">
    <div class="flex-1 position-relative w-100% h-100%">
      <div class="scroll-vertical scroll:bar-green md:pr-10">
        <!-- contenido -->
        <div class="row mt-5 sm:ml-3">
          <i
            class="fas fa-arrow-left text-size-7 text-white hover:bg-dark-1 p-2"
            @click="$router.replace('/habilidades')"
          ></i>
        </div>
        <h2 class="text-white sm:text-size-4 sm:ml-5 md:text-size-7 mt-4">
          <span class="bold sm:text-size-6 md:text-size-7 rotate-90">&lt;</span>
          Desarrollador
          <span class="bold sm:text-size-6 md:text-size-7">BACKEND /></span>
        </h2>
        <p
          class="
            text-white
            sm:text-size-2
            sm:ph-5
            md:text-size-3
            mt-4
            opacity-5
          "
        >
          Disfruto implementar la interacción entre el usuario y un sistema(Web,
          Escritorio, Movil). Utilizando lenguajes de programación para
          desarrollar módulos de procesamiento que otorguen a los usuarios
          contenido dinámico basado en las peticiones de entrada.
        </p>
        <div class="row w-100% md:mt-10 sm:mt-2 sm:ph-3">
          <h1
            class="
              w-100%
              mt-10
              text-white-1
              sm:text-size-2
              md:text-size-3
              opacity-4
              border-color-white border-solid-1-bottom
            "
          >
            Lenguajes
          </h1>
        </div>
        <div class="row w-100% pl-10">
          <div
            class="sm:col-6 md:col-6 lg:col-4 sm:ph-2 sm:mt-5 md:p-4"
            v-for="(item, index) in arraySkillsPhp"
            :key="index"
          >
            <div
              class="
                row
                hover:bg-dark-1
                p-1
                border-radius-4 border-color-white border-solid-1
                shadow-4
              "
            >
              <img
                :src="item.imagen"
                class="
                  sm:h-20
                  sm:w-100%
                  sm:border-radius-top-left-3 sm:border-radius-top-right-3
                  md:w-16
                  md:h-16
                  md:border-radius-top-left-3 md:border-radius-bottom-left-3
                  object-cover
                "
              />
              <div class="flex-1 col sm:p-2 md:p-4 justify-center align-center">
                <h1
                  class="
                    w-100%
                    text-white
                    bold
                    sm:text-size-2 sm:text-center
                    md:text-size-4
                  "
                >
                  {{ item.titulo }}
                </h1>
              </div>
            </div>
          </div>
        </div>

        <div class="row w-100% md:mt-10 sm:mt-2 sm:ph-3">
          <h1
            class="
              w-100%
              mt-10
              text-white-1
              sm:text-size-2
              md:text-size-3
              opacity-4
              border-color-white border-solid-1-bottom
            "
          >
            Versionamiento
          </h1>
        </div>
        <div class="row w-100% pl-10">
          <div
            class="sm:col-6 md:col-6 lg:col-4 sm:ph-2 sm:mt-5 md:p-4"
            v-for="(item, index) in arraySkillsVersionamiento"
            :key="index"
          >
            <div
              class="
                row
                hover:bg-dark-1
                p-1
                border-radius-4 border-color-white border-solid-1
                shadow-4
              "
              @click="$router.push('/habilidades/backend')"
            >
              <img
                :src="item.imagen"
                class="
                  sm:h-20
                  sm:w-100%
                  sm:border-radius-top-left-3 sm:border-radius-top-right-3
                  md:w-16
                  md:h-16
                  md:border-radius-top-left-3 md:border-radius-bottom-left-3
                  object-cover
                "
              />
              <div class="flex-1 col sm:p-2 md:p-4 justify-center align-center">
                <h1
                  class="
                    w-100%
                    text-white
                    bold
                    sm:text-size-2 sm:text-center
                    md:text-size-4
                  "
                >
                  {{ item.titulo }}
                </h1>
              </div>
            </div>
          </div>
        </div>

        <div class="row w-100% md:mt-10 sm:mt-2 sm:ph-3">
          <h1
            class="
              w-100%
              mt-10
              text-white-1
              sm:text-size-2
              md:text-size-3
              opacity-4
              border-color-white border-solid-1-bottom
            "
          >
            Base de datos
          </h1>
        </div>
        <div class="row w-100% pl-10">
          <div
            class="sm:col-6 md:col-6 lg:col-4 sm:ph-2 sm:mt-5 md:p-4"
            v-for="(item, index) in arraySkillsDB"
            :key="index"
          >
            <div
              class="
                row
                hover:bg-dark-1
                p-1
                border-radius-4 border-color-white border-solid-1
                shadow-4
              "
              @click="$router.push('/habilidades/backend')"
            >
              <img
                :src="item.imagen"
                class="
                  sm:h-20
                  sm:w-100%
                  sm:border-radius-top-left-3 sm:border-radius-top-right-3
                  md:w-16
                  md:h-16
                  md:border-radius-top-left-3 md:border-radius-bottom-left-3
                  object-cover
                "
              />
              <div class="flex-1 col sm:p-2 md:p-4 justify-center align-center">
                <h1
                  class="
                    w-100%
                    text-white
                    bold
                    sm:text-size-2 sm:text-center
                    md:text-size-4
                  "
                >
                  {{ item.titulo }}
                </h1>
              </div>
            </div>
          </div>
        </div>

        <div class="row w-100% md:mt-10 sm:mt-2 sm:ph-3">
          <h1
            class="
              w-100%
              mt-10
              text-white-1
              sm:text-size-2
              md:text-size-3
              opacity-4
              border-color-white border-solid-1-bottom
            "
          >
            API
          </h1>
        </div>
        <div class="row w-100% pl-10">
          <div
            class="sm:col-6 md:col-6 lg:col-4 sm:ph-2 sm:mt-5 md:p-4"
            v-for="(item, index) in arraySkillsApi"
            :key="index"
          >
            <div
              class="
                row
                hover:bg-dark-1
                p-1
                border-radius-4 border-color-white border-solid-1
                shadow-4
              "
              @click="$router.push('/habilidades/backend')"
            >
              <img
                :src="item.imagen"
                class="
                  sm:h-20
                  sm:w-100%
                  sm:border-radius-top-left-3 sm:border-radius-top-right-3
                  md:w-16
                  md:h-16
                  md:border-radius-top-left-3 md:border-radius-bottom-left-3
                  object-cover
                "
              />
              <div class="flex-1 col sm:p-2 md:p-4 justify-center align-center">
                <h1
                  class="
                    w-100%
                    text-white
                    bold
                    sm:text-size-2 sm:text-center
                    md:text-size-4
                  "
                >
                  {{ item.titulo }}
                </h1>
              </div>
            </div>
          </div>
        </div>

        <div class="row w-100% md:mt-10 sm:mt-2 sm:ph-3">
          <h1
            class="
              w-100%
              mt-10
              text-white-1
              sm:text-size-2
              md:text-size-3
              opacity-4
              border-color-white border-solid-1-bottom
            "
          >
            Seguridad
          </h1>
        </div>
        <div class="row w-100% pl-10">
          <div
            class="sm:col-6 md:col-6 lg:col-4 sm:ph-2 sm:mt-5 md:p-4"
            v-for="(item, index) in arraySkillsSeguridad"
            :key="index"
          >
            <div
              class="
                row
                hover:bg-dark-1
                p-1
                border-radius-4 border-color-white border-solid-1
                shadow-4
              "
              @click="$router.push('/habilidades/backend')"
            >
              <img
                :src="item.imagen"
                class="
                  sm:h-20
                  sm:w-100%
                  sm:border-radius-top-left-3 sm:border-radius-top-right-3
                  md:w-16
                  md:h-16
                  md:border-radius-top-left-3 md:border-radius-bottom-left-3
                  object-cover
                "
              />
              <div class="flex-1 col sm:p-2 md:p-4 justify-center align-center">
                <h1
                  class="
                    w-100%
                    text-white
                    bold
                    sm:text-size-2 sm:text-center
                    md:text-size-4
                  "
                >
                  {{ item.titulo }}
                </h1>
              </div>
            </div>
          </div>
        </div>

        <div class="h-30"></div>
      </div>
    </div>
    <div
      class="
        md:d-none
        sm:position-fixed
        sm:bottom-0
        row
        h-20
        us:bar-bottom
        w-100%
      "
    ></div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      arraySkillsPhp: [
        { imagen: require("@/assets/backend/lravel.png"), titulo: "Laravel" },
        {
          imagen: require("@/assets/backend/codeigniter.jpg"),
          titulo: "Codeigniter",
        },
        { imagen: require("@/assets/backend/yii.png"), titulo: "Yii" },
        { imagen: require("@/assets/backend/php.png"), titulo: "Php puro" },
        {
          imagen: require("@/assets/backend/spring.jpg"),
          titulo: "Spring Boot (Java)",
        },
      ],
      arraySkillsVersionamiento: [
        { imagen: require("@/assets/backend/gitlab.png"), titulo: "GitLab" },
        {
          imagen: require("@/assets/backend/bitbuket.png"),
          titulo: "Bitbucket",
        },
        { imagen: require("@/assets/backend/git.png"), titulo: "Git" },
      ],
      arraySkillsDB: [
        { imagen: require("@/assets/backend/mariadb.png"), titulo: "MariaDB" },
        { imagen: require("@/assets/backend/mysql.jpg"), titulo: "MySql" },
        { imagen: require("@/assets/backend/pg.png"), titulo: "PostgreSQL" },
        {
          imagen: require("@/assets/backend/firebase.png"),
          titulo: "Firebase",
        },
      ],
      arraySkillsApi: [
        {
          imagen: require("@/assets/backend/token.png"),
          titulo: "Autenticacion por token",
        },
        { imagen: require("@/assets/backend/JWT.png"), titulo: "JWT" },
        { imagen: require("@/assets/backend/api.jpg"), titulo: "JSON APIs" },
        { imagen: require("@/assets/backend/auth.png"), titulo: "OAuth" },
      ],
      arraySkillsSeguridad: [
        {
          imagen: require("@/assets/backend/sha.png"),
          titulo: "Algoritmos SHA",
        },
        { imagen: require("@/assets/backend/cors.png"), titulo: "CORS" },
        { imagen: require("@/assets/backend/https.jpg"), titulo: "HTTPS" },
        {
          imagen: require("@/assets/backend/test.jpg"),
          titulo: "Pruenas unitarias",
        },
      ],
    };
  },
};
</script>

<style>
</style>