<template>
  <div class="col w-100% h-100%">
    <div class="flex-1 position-relative w-100% h-100%">
      <div class="scroll-vertical scroll:bar-green md:pr-10">
        <!-- contenido -->
        <div class="row mt-5 sm:ml-3">
          <i
            class="fas fa-arrow-left text-size-7 text-white hover:bg-dark-1 p-2"
            @click="$router.replace('/habilidades')"
          ></i>
        </div>
        <h2 class="text-white sm:text-size-4 sm:ml-5 md:text-size-7 mt-4">
          <span class="bold sm:text-size-6 md:text-size-7 rotate-90">&lt;</span>
          Diseñador
          <span class="bold sm:text-size-6 md:text-size-7">UI/UX /></span>
        </h2>
        <p
          class="
            text-white
            sm:text-size-2
            sm:ph-5
            md:text-size-3
            mt-4
            opacity-5
          "
        >
          Es fasinante crear experiencias que cubran las necesidades de los
          clientes, mejorar su percepción de la marca y crear un vínculo sólido
          con sus productos. La creatividad, la empatía y la capacidad de
          escucha son algunas de las características que practico a la hora de
          crear un buen diseño.
        </p>

        <div class="row w-100% md:mt-10 sm:mt-2 sm:ph-3">
          <h1
            class="
              w-100%
              mt-10
              text-white-1
              sm:text-size-2
              md:text-size-3
              opacity-4
              border-color-white border-solid-1-bottom
            "
          >
            Programas y herramientas
          </h1>
        </div>
        <div class="row w-100% pl-10">
          <div
            class="sm:col-6 md:col-6 lg:col-4 sm:ph-2 sm:mt-5 md:p-4"
            v-for="(item, index) in arraySkillsHerramientas"
            :key="index"
          >
            <div
              class="
                row
                hover:bg-dark-1
                p-1
                border-radius-4 border-color-white border-solid-1
                shadow-4
              "
            >
              <img
                :src="item.imagen"
                class="
                  sm:h-20
                  sm:w-100%
                  sm:border-radius-top-left-3 sm:border-radius-top-right-3
                  md:w-16
                  md:h-16
                  md:border-radius-top-left-3 md:border-radius-bottom-left-3
                  object-cover
                "
              />
              <div class="flex-1 col sm:p-2 md:p-4 justify-center align-center">
                <h1
                  class="
                    w-100%
                    text-white
                    bold
                    sm:text-size-2 sm:text-center
                    md:text-size-4
                  "
                >
                  {{ item.titulo }}
                </h1>
              </div>
            </div>
          </div>
        </div>

        <div class="row w-100% md:mt-10 sm:mt-2 sm:ph-3">
          <h1
            class="
              w-100%
              mt-10
              text-white-1
              sm:text-size-2
              md:text-size-3
              opacity-4
              border-color-white border-solid-1-bottom
            "
          >
            Experiencia
          </h1>
        </div>
        <div class="row w-100% pl-10">
          <div
            class="sm:col-6 md:col-6 lg:col-4 sm:ph-2 sm:mt-5 md:p-4"
            v-for="(item, index) in arraySkillsExperiencia"
            :key="index"
          >
            <div
              class="
                row
                hover:bg-dark-1
                p-1
                border-radius-4 border-color-white border-solid-1
                shadow-4
              "
              @click="$router.push('/habilidades/backend')"
            >
              <img
                :src="item.imagen"
                class="
                  sm:h-20
                  sm:w-100%
                  sm:border-radius-top-left-3 sm:border-radius-top-right-3
                  md:w-16
                  md:h-16
                  md:border-radius-top-left-3 md:border-radius-bottom-left-3
                  object-cover
                "
              />
              <div class="flex-1 col sm:p-2 md:p-4 justify-center align-center">
                <h1
                  class="
                    w-100%
                    text-white
                    bold
                    sm:text-size-2 sm:text-center
                    md:text-size-4
                  "
                >
                  {{ item.titulo }}
                </h1>
              </div>
            </div>
          </div>
        </div>

        <div class="h-30"></div>
      </div>
    </div>
    <div
      class="
        md:d-none
        sm:position-fixed
        sm:bottom-0
        row
        h-20
        us:bar-bottom
        w-100%
      "
    ></div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      arraySkillsHerramientas: [
        {
          imagen: require("@/assets/diseno/balsamic.png"),
          titulo: "Balsamiq mockup",
        },
        {
          imagen: require("@/assets/diseno/affinity.jpg"),
          titulo: "Affinity Designer",
        },
        {
          imagen: require("@/assets/diseno/photo.png"),
          titulo: "Affinity Photo",
        },
        { imagen: require("@/assets/diseno/figma.png"), titulo: "Figma" },
        {
          imagen: require("@/assets/diseno/freehand.jpg"),
          titulo: "Adobe FreeHand",
        },
        {
          imagen: require("@/assets/diseno/inkscape.png"),
          titulo: "Inkscape",
        },
        {
          imagen: require("@/assets/diseno/xd.jpg"),
          titulo: "Adobe XD",
        },
      ],
      arraySkillsExperiencia: [
        {
          imagen: require("@/assets/diseno/responsive.png"),
          titulo: "Diseño Responsivo",
        },
        {
          imagen: require("@/assets/diseno/ui.png"),
          titulo: "UI Design",
        },
        { imagen: require("@/assets/diseno/ux2.png"), titulo: "UX Design" },
      ],
    };
  },
};
</script>

<style>
</style>