<template>
  <div class="col w-100% h-100%">
    <div class="flex-1 position-relative w-100% h-100%">
      <div class="scroll-vertical scroll:bar-green md:pr-10">
        <!-- contenido -->
        <div class="row mt-5 sm:ml-3">
          <i
            class="fas fa-arrow-left text-size-7 text-white hover:bg-dark-1 p-2"
            @click="$router.replace('/habilidades')"
          ></i>
        </div>
        <h2 class="text-white sm:text-size-4 sm:ml-5 md:text-size-7 mt-4">
          <span class="bold sm:text-size-6 md:text-size-7 rotate-90">&lt;</span>
          Desarrollador
          <span class="bold sm:text-size-6 md:text-size-7">FRONTEND /></span>
        </h2>
        <p
          class="
            text-white
            sm:text-size-2
            sm:ph-5
            md:text-size-3
            mt-4
            opacity-5
          "
        >
          Me encanta desarrollar elementos visuales con el cual el usuario
          interactúa, para ello me apoyo de lenguajes de programación como HTML,
          CSS o JavaScript y también analizo la velocidad y eficiencia de una
          sistema o app, siempre pensando en ofrecer la mejor experiencia de
          usuario.
        </p>
        <div class="row w-100% md:mt-10 sm:mt-2 sm:ph-3">
          <h1
            class="
              w-100%
              mt-10
              text-white-1
              sm:text-size-2
              md:text-size-3
              opacity-4
              border-color-white border-solid-1-bottom
            "
          >
            Lenguajes y frameworks
          </h1>
        </div>
        <div class="row w-100% pl-10">
          <div
            class="sm:col-6 md:col-6 lg:col-4 sm:ph-2 sm:mt-5 md:p-4"
            v-for="(item, index) in arraySkillsLenguajes"
            :key="index"
          >
            <div
              class="
                row
                hover:bg-dark-1
                p-1
                border-radius-4 border-color-white border-solid-1
                shadow-4
              "
            >
              <img
                :src="item.imagen"
                class="
                  sm:h-20
                  sm:w-100%
                  sm:border-radius-top-left-3 sm:border-radius-top-right-3
                  md:w-16
                  md:h-16
                  md:border-radius-top-left-3 md:border-radius-bottom-left-3
                  object-cover
                "
              />
              <div class="flex-1 col sm:p-2 md:p-4 justify-center align-center">
                <h1
                  class="
                    w-100%
                    text-white
                    bold
                    sm:text-size-2 sm:text-center
                    md:text-size-4
                  "
                >
                  {{ item.titulo }}
                </h1>
              </div>
            </div>
          </div>
        </div>

        <div class="row w-100% md:mt-10 sm:mt-2 sm:ph-3">
          <h1
            class="
              w-100%
              mt-10
              text-white-1
              sm:text-size-2
              md:text-size-3
              opacity-4
              border-color-white border-solid-1-bottom
            "
          >
            Versionamiento
          </h1>
        </div>
        <div class="row w-100% pl-10">
          <div
            class="sm:col-6 md:col-6 lg:col-4 sm:ph-2 sm:mt-5 md:p-4"
            v-for="(item, index) in arraySkillsVersionamiento"
            :key="index"
          >
            <div
              class="
                row
                hover:bg-dark-1
                p-1
                border-radius-4 border-color-white border-solid-1
                shadow-4
              "
              @click="$router.push('/habilidades/backend')"
            >
              <img
                :src="item.imagen"
                class="
                  sm:h-20
                  sm:w-100%
                  sm:border-radius-top-left-3 sm:border-radius-top-right-3
                  md:w-16
                  md:h-16
                  md:border-radius-top-left-3 md:border-radius-bottom-left-3
                  object-cover
                "
              />
              <div class="flex-1 col sm:p-2 md:p-4 justify-center align-center">
                <h1
                  class="
                    w-100%
                    text-white
                    bold
                    sm:text-size-2 sm:text-center
                    md:text-size-4
                  "
                >
                  {{ item.titulo }}
                </h1>
              </div>
            </div>
          </div>
        </div>

        <div class="row w-100% md:mt-10 sm:mt-2 sm:ph-3">
          <h1
            class="
              w-100%
              mt-10
              text-white-1
              sm:text-size-2
              md:text-size-3
              opacity-4
              border-color-white border-solid-1-bottom
            "
          >
            Html funcional
          </h1>
        </div>
        <div class="row w-100% pl-10">
          <div
            class="sm:col-6 md:col-6 lg:col-4 sm:ph-2 sm:mt-5 md:p-4"
            v-for="(item, index) in arraySkillsHTML"
            :key="index"
          >
            <div
              class="
                row
                hover:bg-dark-1
                p-1
                border-radius-4 border-color-white border-solid-1
                shadow-4
              "
              @click="$router.push('/habilidades/backend')"
            >
              <img
                :src="item.imagen"
                class="
                  sm:h-20
                  sm:w-100%
                  sm:border-radius-top-left-3 sm:border-radius-top-right-3
                  md:w-16
                  md:h-16
                  md:border-radius-top-left-3 md:border-radius-bottom-left-3
                  object-cover
                "
              />
              <div class="flex-1 col sm:p-2 md:p-4 justify-center align-center">
                <h1
                  class="
                    w-100%
                    text-white
                    bold
                    sm:text-size-2 sm:text-center
                    md:text-size-4
                  "
                >
                  {{ item.titulo }}
                </h1>
              </div>
            </div>
          </div>
        </div>

        <div class="row w-100% md:mt-10 sm:mt-2 sm:ph-3">
          <h1
            class="
              w-100%
              mt-10
              text-white-1
              sm:text-size-2
              md:text-size-3
              opacity-4
              border-color-white border-solid-1-bottom
            "
          >
            Conocimientos web y seguridad
          </h1>
        </div>
        <div class="row w-100% pl-10">
          <div
            class="sm:col-6 md:col-6 lg:col-4 sm:ph-2 sm:mt-5 md:p-4"
            v-for="(item, index) in arraySkillsJS"
            :key="index"
          >
            <div
              class="
                row
                hover:bg-dark-1
                p-1
                border-radius-4 border-color-white border-solid-1
                shadow-4
              "
              @click="$router.push('/habilidades/backend')"
            >
              <img
                :src="item.imagen"
                class="
                  sm:h-20
                  sm:w-100%
                  sm:border-radius-top-left-3 sm:border-radius-top-right-3
                  md:w-16
                  md:h-16
                  md:border-radius-top-left-3 md:border-radius-bottom-left-3
                  object-cover
                "
              />
              <div class="flex-1 col sm:p-2 md:p-4 justify-center align-center">
                <h1
                  class="
                    w-100%
                    text-white
                    bold
                    sm:text-size-2 sm:text-center
                    md:text-size-4
                  "
                >
                  {{ item.titulo }}
                </h1>
              </div>
            </div>
          </div>
        </div>

        <div class="row w-100% md:mt-10 sm:mt-2 sm:ph-3">
          <h1
            class="
              w-100%
              mt-10
              text-white-1
              sm:text-size-2
              md:text-size-3
              opacity-4
              border-color-white border-solid-1-bottom
            "
          >
            Herramientas y preprocesadores
          </h1>
        </div>
        <div class="row w-100% pl-10">
          <div
            class="sm:col-6 md:col-6 lg:col-4 sm:ph-2 sm:mt-5 md:p-4"
            v-for="(item, index) in arraySkillsHerramientas"
            :key="index"
          >
            <div
              class="
                row
                hover:bg-dark-1
                p-1
                border-radius-4 border-color-white border-solid-1
                shadow-4
              "
              @click="$router.push('/habilidades/backend')"
            >
              <img
                :src="item.imagen"
                class="
                  sm:h-20
                  sm:w-100%
                  sm:border-radius-top-left-3 sm:border-radius-top-right-3
                  md:w-16
                  md:h-16
                  md:border-radius-top-left-3 md:border-radius-bottom-left-3
                  object-cover
                "
              />
              <div class="flex-1 col sm:p-2 md:p-4 justify-center align-center">
                <h1
                  class="
                    w-100%
                    text-white
                    bold
                    sm:text-size-2 sm:text-center
                    md:text-size-4
                  "
                >
                  {{ item.titulo }}
                </h1>
              </div>
            </div>
          </div>
        </div>

        <div class="h-30"></div>
      </div>
    </div>
    <div
      class="
        md:d-none
        sm:position-fixed
        sm:bottom-0
        row
        h-20
        us:bar-bottom
        w-100%
      "
    ></div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      arraySkillsLenguajes: [
        {
          imagen: require("@/assets/frontend/js.png"),
          titulo: "JavaScript",
        },
        {
          imagen: require("@/assets/frontend/vue.jpg"),
          titulo: "Vue",
        },
        {
          imagen: require("@/assets/frontend/nuxt.png"),
          titulo: "Nuxt.js",
        },
        {
          imagen: require("@/assets/frontend/quasar.png"),
          titulo: "Quasar Framework",
        },
        { imagen: require("@/assets/frontend/angular.png"), titulo: "Angular" },
        { imagen: require("@/assets/frontend/flutter.png"), titulo: "Flutter" },
        {
          imagen: require("@/assets/frontend/android.png"),
          titulo: "Android Studio (Java)",
        },
        {
          imagen: require("@/assets/frontend/bootstrap.png"),
          titulo: "Bootstrap",
        },
        {
          imagen: require("@/assets/frontend/tailwind.png"),
          titulo: "Tailwind CSS",
        },
        {
          imagen: require("@/assets/frontend/gudi.png"),
          titulo: "Gudi CSS",
        },
      ],
      arraySkillsVersionamiento: [
        { imagen: require("@/assets/backend/gitlab.png"), titulo: "GitLab" },
        {
          imagen: require("@/assets/backend/bitbuket.png"),
          titulo: "Bitbucket",
        },
        { imagen: require("@/assets/backend/git.png"), titulo: "Git" },
      ],
      arraySkillsHTML: [
        {
          imagen: require("@/assets/frontend/html.png"),
          titulo: "HTML semántico",
        },
        {
          imagen: require("@/assets/frontend/formulario.png"),
          titulo: "Formularios",
        },
        {
          imagen: require("@/assets/frontend/seo.png"),
          titulo: "SEO y posicionamiento",
        },
        {
          imagen: require("@/assets/frontend/responsive.png"),
          titulo: "CSS - Responsive design",
        },
      ],
      arraySkillsJS: [
        {
          imagen: require("@/assets/frontend/js.png"),
          titulo: "JavaScript",
        },
        {
          imagen: require("@/assets/frontend/pwa.png"),
          titulo: "PWA",
        },
        {
          imagen: require("@/assets/frontend/socket.png"),
          titulo: "Web sockets",
        },
        {
          imagen: require("@/assets/frontend/api.jpg"),
          titulo: "JSON APIs",
        },
        { imagen: require("@/assets/frontend/dom.png"), titulo: "DOM" },
        {
          imagen: require("@/assets/frontend/async.png"),
          titulo: "ASINCRONISMO",
        },
        { imagen: require("@/assets/backend/cors.png"), titulo: "CORS" },
        { imagen: require("@/assets/frontend/npm.png"), titulo: "Package NPM" },
      ],
      arraySkillsHerramientas: [
        {
          imagen: require("@/assets/frontend/sass.png"),
          titulo: "SASS",
        },
        { imagen: require("@/assets/frontend/webpack.png"), titulo: "Webpack" },
        { imagen: require("@/assets/frontend/eslint.png"), titulo: "Eslint" },
        {
          imagen: require("@/assets/frontend/prettier.png"),
          titulo: "Prettier",
        },
      ],
    };
  },
};
</script>

<style>
</style>