<template>
  <div class="col w-100% h-100%">
    <div class="flex-1 position-relative w-100% h-100%">
      <div class="scroll-vertical scroll:bar-green slider">
        <!-- contenido -->
        <div class="row h-10"></div>
        <h1
          class="
            w-100%
            text-center
            bold
            text-white
            sm:text-size-4
            md:text-size-6
          "
        >
          HABILIDADES
        </h1>
        <p
          class="
            text-white
            sm:text-size-2
            sm:ph-5
            md:mb-10
            md:text-size-3
            mt-4
            opacity-5
            text-center
          "
        >
          A lo largo de mi vida humildemente he aquirido conocimientos en
          distintas diciplinas de la
          <strong class="bold">Ingenieria Informatica</strong>, y es un orgullo
          presentarselos.
        </p>
        <div class="row w-100% md:pr-10">
          <div class="sm:mt-5 sm:col-12 md:col-6 sm:p-5 md:p-4">
            <div
              class="
                row
                bg-white
                hover:bg-white-3
                cursor-pointer
                border-radius-3
                shadow-4
              "
              @click="$router.push('/habilidades/backend')"
            >
              <img
                src="@/assets/backend.png"
                class="
                  w-40%
                  sm:h-40
                  md:h-50
                  border-radius-top-left-3 border-radius-bottom-left-3
                  object-cover
                "
              />
              <div class="flex-1 col sm:p-2 md:p-4 justify-center align-center">
                <h1 class="w-100% text-dark bold sm:text-size-4 md:text-size-6">
                  Desarrollador BACKEND
                </h1>
                <p class="text-dark-1 sm:text-size-2 md:text-size-3">
                  Me gusta codificar cosas desde cero y disfruto dando vida a
                  las ideas en el navegador.
                </p>
              </div>
            </div>
            <progressBar :texto="'INTERMEDIO'" posicion="0"></progressBar>
          </div>
          <div class="sm:mt-5 sm:col-12 md:col-6 sm:p-5 md:p-4">
            <div
              class="
                row
                bg-white
                hover:bg-white-3
                cursor-pointer
                border-radius-3
                shadow-4
              "
              @click="$router.push('/habilidades/frontend')"
            >
              <img
                src="@/assets/frontend.png"
                class="
                  w-40%
                  sm:h-40
                  md:h-50
                  border-radius-top-left-3 border-radius-bottom-left-3
                  object-cover
                "
              />
              <div class="flex-1 col sm:p-2 md:p-4 justify-center align-center">
                <h1 class="w-100% text-dark bold sm:text-size-4 md:text-size-6">
                  Desarrollador FRONTEND
                </h1>
                <p class="text-dark-1 sm:text-size-2 md:text-size-3">
                  Me gusta codificar cosas desde cero y disfruto dando vida a
                  las ideas en el navegador.
                </p>
              </div>
            </div>
            <progressBar :texto="'AVANZADO'" posicion="1"></progressBar>
          </div>
          <div class="sm:mt-5 sm:col-12 md:col-6 sm:p-5 md:p-4">
            <div
              class="
                row
                bg-white
                hover:bg-white-3
                cursor-pointer
                border-radius-3
                shadow-4
              "
              @click="$router.push('/habilidades/diseno')"
            >
              <img
                src="@/assets/ux.png"
                class="
                  w-40%
                  sm:h-40
                  md:h-50
                  border-radius-top-left-3 border-radius-bottom-left-3
                  object-cover
                "
              />
              <div class="flex-1 col sm:p-2 md:p-4 justify-center align-center">
                <h1 class="w-100% text-dark bold sm:text-size-4 md:text-size-6">
                  Diseñador UX/UI
                </h1>
                <p class="text-dark-1 sm:text-size-2 md:text-size-3">
                  Me gusta codificar cosas desde cero y disfruto dando vida a
                  las ideas en el navegador.
                </p>
              </div>
            </div>
            <progressBar :texto="'AVANZADO'" posicion="2"></progressBar>
          </div>
          <div class="sm:mt-5 sm:col-12 md:col-6 sm:p-5 md:p-4 opacity-4">
            <div
              class="row bg-white border-radius-3 shadow-4 position-relative"
            >
              <div
                class="
                  top-0
                  right-0
                  position-absolute
                  bg-green
                  border-radius-top-right-3 border-radius-bottom-left-3
                  text-dark
                  p-1
                  text-size-2
                  row
                  justify-center
                  align-center
                "
              >
                <i class="mr-2 text-size-3 fab fa-leanpub"></i>
                <label>En proceso de aprendizaje...</label>
              </div>
              <img
                src="@/assets/devops.png"
                class="
                  w-40%
                  sm:h-40
                  md:h-50
                  border-radius-top-left-3 border-radius-bottom-left-3
                  object-cover
                "
              />
              <div class="flex-1 col sm:p-2 md:p-4 justify-center align-center">
                <h1 class="w-100% text-dark bold sm:text-size-4 md:text-size-6">
                  Especialista DEVOPS
                </h1>
                <p class="text-dark-1 sm:text-size-2 md:text-size-3">
                  Me gusta codificar cosas desde cero y disfruto dando vida a
                  las ideas en el navegador.
                </p>
              </div>
            </div>
            <progressBar :texto="'ELEMENTAL'" posicion="4"></progressBar>
          </div>
          <div class="sm:mt-5 sm:col-12 md:col-6 sm:p-5 md:p-4 opacity-4">
            <div
              class="row bg-white border-radius-3 shadow-4 position-relative"
            >
              <div
                class="
                  top-0
                  right-0
                  position-absolute
                  bg-green
                  border-radius-top-right-3 border-radius-bottom-left-3
                  text-dark
                  p-1
                  text-size-2
                  row
                  justify-center
                  align-center
                "
              >
                <i class="mr-2 text-size-3 fab fa-leanpub"></i>
                <label>En proceso de aprendizaje...</label>
              </div>
              <img
                src="@/assets/english.png"
                class="
                  w-40%
                  sm:h-40
                  md:h-50
                  border-radius-top-left-3 border-radius-bottom-left-3
                  object-cover
                "
              />
              <div class="flex-1 col sm:p-2 md:p-4 justify-center align-center">
                <h1 class="w-100% text-dark bold sm:text-size-4 md:text-size-6">
                  Dominio del INGLES
                </h1>
                <p class="text-dark-1 sm:text-size-2 md:text-size-3">
                  Me gusta codificar cosas desde cero y disfruto dando vida a
                  las ideas en el navegador.
                </p>
              </div>
            </div>
            <progressBar :texto="'ELEMENTAL'" posicion="3"></progressBar>
          </div>
        </div>
        <div class="md:d-none row h-100"></div>
        <!-- end contenido -->
      </div>
    </div>
    <div
      class="
        md:d-none
        sm:position-fixed
        sm:bottom-0
        row
        h-20
        us:bar-bottom
        w-100%
      "
    ></div>
  </div>
</template>

<script>
import progressBar from "./progressBar.vue";
export default {
  //principiante - ELEMENTAL - intermedio - advance - experto
  components: {
    progressBar,
  },
};
</script>

<style >
</style>