<template>
  <div class="col w-100% pt-3 pr-10 pl-10">
    <div
      class="
        row
        w-100%
        h-5
        border-radius-3 border-solid-1 border-color-white
        position-relative
      "
    >
      <div
        class="w-100% h-100% border-radius-3 bg-yellow"
        :class="[
          posicion == 0
            ? 'progress-backend'
            : posicion == 1
            ? 'progress-frontend'
            : posicion == 2
            ? 'progress-ui'
            : posicion == 3
            ? 'progress-devops'
            : 'progress-english',
        ]"
      ></div>
      <label
        class="
          w-100%
          etiqueta
          text-white
          position-absolute
          top-0
          text-center text-size-2
        "
        >{{ texto }}</label
      >
    </div>
    <div class="row w-100% h-4 text-size-2">
      <div
        class="
          flex-1
          border-solid-1-left border-color-white
          h-100%
          text-white
          col
          justify-end
        "
      >
        0
      </div>
      <div
        class="
          flex-1
          border-solid-1-left border-color-white
          h-100%
          text-white
          col
          justify-end
        "
      >
        1
      </div>
      <div
        class="
          flex-1
          border-solid-1-left border-color-white
          h-100%
          text-white
          col
          justify-end
        "
      >
        2
      </div>
      <div
        class="
          flex-1
          border-solid-1-left border-color-white
          h-100%
          text-white
          col
          justify-end
        "
      >
        3
      </div>
      <div
        class="
          flex-1
          border-solid-1-left border-color-white
          h-100%
          text-white
          col
          justify-end
        "
      >
        4
      </div>
      <div
        class="
          flex-1
          border-solid-1-left border-color-white
          h-100%
          text-white
          col
          justify-end
        "
      >
        5
      </div>
      <div
        class="
          flex-1
          border-solid-1-left border-color-white
          h-100%
          text-white
          col
          justify-end
        "
      >
        6
      </div>
      <div
        class="
          flex-1
          border-solid-1-left border-color-white
          h-100%
          text-white
          col
          justify-end
        "
      >
        7
      </div>
      <div
        class="
          flex-1
          border-solid-1-left border-color-white
          h-100%
          text-white
          col
          justify-end
        "
      >
        8
      </div>
      <div
        class="
          flex-1
          border-solid-1-left border-color-white
          h-100%
          text-white
          col
          justify-end
        "
      >
        9
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["cantidad", "texto", "posicion"],
};
</script>

<style scoped>
.etiqueta {
  text-shadow: 0.05em 0.05em 0.3em black;
}
.progress-backend {
  animation: progress-backend 2s linear forwards;
}
@keyframes progress-backend {
  0% {
    width: 0%;
    background: rgb(255, 0, 0);
  }
  50% {
    width: 60%;
    background: rgb(238, 215, 11);
  }
  100% {
    width: 70%;
    background: rgb(109, 145, 8);
  }
}

.progress-frontend {
  animation: progress-frontend 2s linear forwards;
}
@keyframes progress-frontend {
  0% {
    width: 0%;
    background: rgb(255, 0, 0);
  }
  50% {
    width: 60%;
    background: rgb(238, 215, 11);
  }
  100% {
    width: 80%;
    background: rgb(8, 145, 26);
  }
}

.progress-ui {
  animation: progress-ui 2s linear forwards;
}
@keyframes progress-ui {
  0% {
    width: 0%;
    background: rgb(255, 0, 0);
  }
  50% {
    width: 60%;
    background: rgb(238, 215, 11);
  }
  100% {
    width: 85%;
    background: rgb(10, 160, 30);
  }
}
.progress-devops {
  animation: progress-devops 2s linear forwards;
}
@keyframes progress-devops {
  0% {
    width: 0%;
    background: rgb(255, 0, 0);
  }
  100% {
    width: 20%;
    background: rgb(238, 147, 11);
  }
}
.progress-english {
  animation: progress-english 2s linear forwards;
}
@keyframes progress-english {
  0% {
    width: 0%;
    background: rgb(255, 0, 0);
  }
  100% {
    width: 25%;
    background: rgb(238, 177, 11);
  }
}
</style>