<!DOCTYPE html>
<html lang="">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width,initial-scale=1.0" />
      <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
      <title><%= htmlWebpackPlugin.options.title %></title>
      <!-- gudi css -->
      <link rel="stylesheet" href="./css/app.css" />
      <link
         crossorigin="anonymous"
         href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
         integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
         rel="stylesheet"
      />
   </head>
   <body>
      <noscript>
         <strong
            >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without
            JavaScript enabled. Please enable it to continue.</strong
         >
      </noscript>
      <div id="app"></div>
      <!-- built files will be auto injected -->
   </body>
</html>
