<template>
  <div
    v-if="status"
    class="
      modal
      position-fixed
      z-5
      top-0
      left-0
      justify-center
      align-center
      w-100%
      h-max
      flex
    "
  >
    <div class="row p-2 w-100% sm:h-60% md:h-50% justify-center">
      <div
        class="
          sm:col-12
          md:col-6
          lg:col-6
          col
          w-100%
          bg-white
          shadow-1
          border-radius-2
          p-2
          align-center
        "
      >
        <label
          class="text-size-3 bold mb-2 mt-2 text-primary text-center w-100%"
          >Galeria</label
        >
        <h1 class="text-size-2 text-primary-3 text-center w-100% mb-4">
          Administracion de imagenes de galeria
        </h1>

        <div class="flex-1 position-relative w-100% bg-white-1">
          <div class="scroll-vertical">
            <div class="row w-100%">
              <div
                class="sm:col-6 md:col-2 p-2"
                v-for="(item, index) in arrayTabla"
                :key="index"
              >
                <div class="position-relative w-100%">
                  <div class="position-absolute row w-100% justify-end">
                    <input
                      class="none"
                      type="file"
                      :id="item.id_servicio_galeria"
                      ref="fileImageEdit"
                      accept=".png,.jpeg,.jpg"
                      @change="DBupdateHandleFilesUpload($event, item)"
                    />
                    <label :for="item.id_servicio_galeria">
                      <i
                        class="
                          far
                          fa-edit
                          p-1
                          bg-white
                          hover:bg-primary-1
                          hover:text-white
                        "
                      ></i>
                    </label>
                    <i
                      class="
                        far
                        fa-trash-alt
                        p-1
                        bg-white
                        hover:bg-primary-1
                        hover:text-white
                      "
                      @click="DBeliminaMascotaGaleria(item)"
                    ></i>
                  </div>
                  <img
                    id="imgView"
                    class="imgView w-100% border-radius-1 object-cover"
                    :src="
                      GLOBAL.baseUrl('/storage/servicio_galeria/' + item.imagen)
                    "
                    alt=""
                  />
                </div>
              </div>
              <div class="sm:col-6 md:col-2 p-2">
                <input
                  class="none"
                  type="file"
                  id="files"
                  ref="fileImage"
                  accept=".png,.jpeg,.jpg"
                  @change="handleFilesUpload()"
                />
                <div
                  class="
                    w-100%
                    h-100%
                    justify-center
                    row
                    align-center
                    border-radius-1 border-color-dark-3 border-solid-2
                  "
                >
                  <label
                    for="files"
                    class="
                      p-3
                      border-radius-1 border-color-dark-3 border-solid-1
                    "
                    ><i class="fas fa-paperclip"></i
                  ></label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-center align-center mt-6">
          <button
            @click="status = false"
            class="
              cursor-pointer
              bg-transparent
              text-dark-2
              hover:text-dark
              text-size-2
              border-radius-5
              pl-3
              pr-3
              pt-1
              pb-1
            "
          >
            Volver
          </button>
        </div>
      </div>
    </div>

    <DialogLoading ref="refDialogoLoading"></DialogLoading>
    <DialogConfirm ref="refDialogConfirm"></DialogConfirm>
  </div>
</template>

<script>
import ButtonPrimary from "@/components/ButtonPrimary";
import DialogLoading from "@/components/DialogLoading";
import DialogConfirm from "@/components/DialogConfirm";

import apiAxios from "@/utils/axios";

export default {
  components: {
    ButtonPrimary,
    DialogLoading,
    DialogConfirm,
  },
  data() {
    return {
      status: false,
      arrayTabla: [],
      id_servicio: "",

      message: "",
      title: "",
      clickPositive: null,
      positiveText: null,
      clickNegative: null,
      negativeText: null,
      imageUrl: null,
    };
  },
  created() {
    //evento resize
    window.addEventListener("resize", this.handleResizeImage);
  },
  // updated mounted() {
  //   this.clickPositive != null ? this.clickPositive : (status = false);
  // },
  // activated() {
  //   this.DBcargaRegistros();
  // },
  methods: {
    show() {
      this.status = true;
      this.DBcargaRegistros();
    },
    dissmis() {
      this.status = false;
    },
    DBeliminaMascotaGaleria(item) {
      let me = this;
      me.$refs.refDialogConfirm.show();
      me.$refs.refDialogConfirm.setTitle("Eliminar");
      me.$refs.refDialogConfirm.setMessage(
        "Realmente desea eliminar este registro"
      );
      me.$refs.refDialogConfirm.setImage(require("@/assets/error.svg"));
      me.$refs.refDialogConfirm.setPositiveText("Aceptar");
      me.$refs.refDialogConfirm.setPositiveOnClick(() => {
        me.$refs.refDialogoLoading.setMessage("Eliminando datos...");
        me.$refs.refDialogoLoading.show();
        apiAxios
          .deleteServiciosGaleria({
            id: item.id_servicio_galeria,
          })
          .then((response) => {
            me.$refs.refDialogoLoading.dissmis();
            me.$refs.refDialogConfirm.dissmis();
            me.DBcargaRegistros();
          })
          .catch(function (err) {
            me.$refs.refDialogoLoading.dissmis();
            me.$refs.refDialogConfirm.show();
            me.$refs.refDialogConfirm.setTitle("Error de formulario");
            me.$refs.refDialogConfirm.setMessage(
              err.response.status == 400
                ? err.response.data.message
                : err.message
            );
            me.$refs.refDialogConfirm.setImage(require("@/assets/error.svg"));
            me.$refs.refDialogConfirm.setPositiveText("Volver");
          });
      });
      me.$refs.refDialogConfirm.setNegativeText("Cancelar");
      me.ButtonPrimary;
    },
    DBupdateHandleFilesUpload(event, item) {
      let me = this;
      let uploadedFiles = event.target.files[0];
      // this.arrayInputs[index].value = URL.createObjectURL(uploadedFiles);
      me.$refs.refDialogoLoading.setMessage("Guarando datos...");
      me.$refs.refDialogoLoading.show();

      let form = new FormData();
      form.append("imagen", uploadedFiles);
      form.append("id_servicio_galeria", item.id_servicio_galeria);

      apiAxios
        .updateServiciosGaleria({
          form: form,
        })
        .then((response) => {
          me.$refs.refDialogoLoading.dissmis();
          me.DBcargaRegistros();
        })
        .catch(function (err) {
          me.$refs.refDialogoLoading.dissmis();
        });
    },
    handleResizeImage() {
      this.counterTime = setTimeout(function () {
        if (document.getElementById("imgView")) {
          let imgView = document.getElementById("imgView");
          var altoView = parseInt(imgView.clientWidth);
          let nodeItems = document.getElementsByClassName("imgView");
          for (let i = 0; i < nodeItems.length; i++) {
            nodeItems[i].style.height = altoView + "px";
          }
        }
      }, 200);
    },
    DBcargaRegistros() {
      this.GLOBAL.log("cargando galeria servicio");
      let me = this;
      apiAxios
        .getServiciosGaleria({
          id_servicio: me.id_servicio,
        })
        .then((response) => {
          me.arrayTabla = response.data.data;
          me.handleResizeImage();
        })
        .catch(function (err) {
          console.log(err);
        });
    },
    handleFilesUpload() {
      let me = this;
      let uploadedFiles = this.$refs.fileImage.files[0];
      // this.arrayInputs[index].value = URL.createObjectURL(uploadedFiles);
      me.$refs.refDialogoLoading.setMessage("Guarando datos...");
      me.$refs.refDialogoLoading.show();

      let form = new FormData();
      form.append("imagen", uploadedFiles);
      form.append("id_servicio", this.id_servicio);

      apiAxios
        .createServiciosGaleria({
          form: form,
        })
        .then((response) => {
          me.$refs.refDialogoLoading.dissmis();
          me.DBcargaRegistros();
        })
        .catch(function (err) {
          me.$refs.refDialogoLoading.dissmis();
        });
    },
    setIdServicio(data) {
      this.id_servicio = data;
    },
  },
};
</script>

<style>
.modal {
  background-color: rgba(0, 0, 0, 0.384);
  transition: opacity 0.9s;
}
</style>