<template>
  <!-- cuerpo de la pagina -->
  <div class="position-relative row flex-1 w-100%">
    <div class="position-absolute col w-100% h-100%">
      <div class="scroll-vertical h-100% w-100%">
        <div class="col">
          <!-- titulo y buscador -->
          <div class="row sm:p-2 md:p-5 align-center justify-end">
            <div class="sm:col-12 md:col-8 lg:col-9">
              <div class="row hover:bg-dark-3 ph-3 pv-2 md:w-30% text-primary">
                <i class="fas fa-long-arrow-alt-left cursor-pointer"></i>
                <label
                  class="cursor-pointer pl-2"
                  @click="$router.replace('/usuarios')"
                  >Usuario/Mis Mascotas</label
                >
              </div>
            </div>
            <div class="sm:col-12 md:col-4 lg:col-3">
              <div class="row justify-end">
                <ButtonPrimary
                  class="p-2"
                  icon="fas fa-plus"
                  @click="
                    $refs.refDialogoElemento.setTitle('Nueva mascota');
                    $refs.refDialogoElemento.setElements([
                      {
                        type: 'img',
                        title: 'Fotografia',
                        value: null,
                      },
                      {
                        type: 'text',
                        title: 'Nombre*',
                        value: '',
                      },

                      {
                        type: 'select',
                        title: 'Tipo*',
                        value: 'Canino',
                        items: {
                          Canino: 'Canino',
                          Felino: 'Felino',
                          Ave: 'Ave',
                          Reptil: 'Reptil',
                          Pez: 'Pez',
                          Otros: 'Otros',
                        },
                      },
                      {
                        type: 'number',
                        title: 'Edad',
                        value: null,
                      },
                      {
                        type: 'text',
                        title: 'Raza',
                        value: null,
                      },
                      {
                        type: 'number',
                        title: 'Peso(kg)',
                        value: null,
                      },
                    ]);
                    $refs.refDialogoElemento.show();
                    $refs.refDialogoElemento.setOnClickListenerPositive(() => {
                      DBcreateMiMascota();
                    });
                  "
                  text="Nuevo"
                ></ButtonPrimary>
              </div>
            </div>
            <div class="sm:col-12 md:col-4 lg:col-3">
              <div class="row w-100% mt-2 mb-2 justify-end">
                <EditText
                  class="flex-1 mr-2"
                  placeholder="Buscar"
                  ref="_edBuscar"
                  v-model="txtBuscar"
                ></EditText>
                <ButtonPrimary
                  class=""
                  text="Buscar"
                  icon="fas fa-search"
                  @click="
                    pagina = 1;
                    DBcargaRegistros();
                  "
                ></ButtonPrimary>
              </div>
            </div>
          </div>
          <!-- end titulo y buscador -->

          <!-- tabla de registros -->

          <div class="col w-100% sm:pt-2 sm:pb-2 md:p-5">
            <div
              v-if="arrayTabla.filas ? arrayTabla.filas.length <= 0 : true"
              class="
                col
                border-radius-2 border-color-dark-3 border-solid-1
                p-2
                justify-center
                align-center
              "
            >
              <div class="h-32"></div>
              <label class="text-dark-3 bold text-size-6 text-center"
                >Aun no existe registros</label
              >
              <p class="text-dark-3 text-size-3 text-center">
                Esperando a que se agregue un nuevo registro
              </p>
              <div class="h-32"></div>
            </div>
            <div
              v-else
              class="row w-100% text-size-3 text-dark-1 hover:bg-dark-3 pv-1"
              v-for="(item, index) in arrayTabla.filas"
              :key="index"
              :class="[index % 2 == 0 ? 'bg-white-1' : '']"
            >
              <div class="sm:col-3 md:col-1 row justify-center sm:pl-2">
                <img
                  id="imgViewItem"
                  class="imgViewItem sm:w-100% md:w-12 h-12 border-radius-1"
                  :src="GLOBAL.baseUrl('/storage/mi_mascota_lite/' + item.foto)"
                  alt=""
                />
              </div>
              <div class="sm:col-9 md:col-9 row align-center sm:pl-2">
                <div class="row w-100%">
                  <div class="sm:col-12 md:flex-2 row align-center">
                    {{ GLOBAL.textNoEmpty(item.nombre) }}
                  </div>
                  <div class="sm:col-12 md:flex-1 row">
                    <div class="col-12 text-size-2 text-dark-2">Tipo:</div>
                    <div class="col-12">
                      {{ GLOBAL.textNoEmpty(item.tipo) }}
                    </div>
                  </div>

                  <div class="sm:col-6 md:flex-1">
                    <div class="col-12 text-size-2 text-dark-2">Edad:</div>
                    <div class="col-12">
                      {{ GLOBAL.textNoEmpty(item.edad) }}
                    </div>
                  </div>
                  <div class="sm:col-6 md:flex-1 row">
                    <div class="col-12 text-size-2 text-dark-2">Peso</div>
                    <div class="col-12">
                      {{ GLOBAL.textNoEmpty(item.peso) + " kg." }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="sm:col-12 md:col-2 row justify-end align-center">
                <!-- <i
                  class="far fa-images p-4 hover:bg-primary-1 hover:text-white"
                  @click="
                    $refs.refDialogGaleria.setIdMascotaAlbergue(
                      item.id_mascota_albergue
                    );
                    $refs.refDialogGaleria.show();
                  "
                ></i> -->
                <i
                  class="far fa-edit p-4 hover:bg-primary-1 hover:text-white"
                  @click="updateItem(item)"
                ></i>
                <i
                  class="
                    far
                    fa-trash-alt
                    p-4
                    hover:bg-primary-1
                    hover:text-white
                  "
                  @click="DBdeleteMiMascota(item)"
                ></i>
              </div>
            </div>
          </div>
          <!-- end tabla de registros -->

          <!-- paginacion de tabla -->
          <div class="row justify-end sm:p-2 md:p-5">
            <ButtonPrimary
              @click="
                pagina = arrayTabla.pagina_anterior;
                DBcargaRegistros();
              "
              class="mt-1 mr-1 ml-1"
              text="Atras"
            ></ButtonPrimary>
            <ButtonPrimary
              v-for="index in arrayTabla.paginas_total"
              @click="
                if (index != pagina) {
                  pagina = index;
                  DBcargaRegistros();
                }
              "
              :key="index"
              class="mt-1 mr-1 ml-1"
              :class="[index == pagina ? 'bg-primary-3' : '']"
              :text="index"
            ></ButtonPrimary>
            <ButtonPrimary
              @click="
                pagina = arrayTabla.pagina_siguiente;
                DBcargaRegistros();
              "
              class="mt-1 mr-1 ml-1"
              text="Siguiente"
            ></ButtonPrimary>
          </div>
          <!-- end paginacion de tabla -->
        </div>
      </div>
    </div>

    <DialogoElemento ref="refDialogoElemento"></DialogoElemento>
    <DialogLoading ref="refDialogoLoading"></DialogLoading>
    <DialogConfirm ref="refDialogConfirm"></DialogConfirm>

    <DialogGaleria ref="refDialogGaleria"></DialogGaleria>
  </div>
  <!-- end cuerpo de la pagina -->
</template>

<script>
import EditText from "@/components/EditText";
import ButtonPrimary from "@/components/ButtonPrimary";
import DialogoElemento from "@/components/DialogoElemento";
import apiAxios from "@/utils/axios";
import DialogConfirm from "@/components/DialogConfirm";
import DialogLoading from "@/components/DialogLoading";
import DialogGaleria from "./DialogGaleria";

let me = null;
export default {
  components: {
    ButtonPrimary,
    DialogoElemento,
    DialogLoading,
    DialogConfirm,
    DialogGaleria,
    EditText,
  },
  data() {
    return {
      pagina: 1,
      cantidad_por_pagina: 15,
      arrayTabla: [],
      itemData: {},
      txtBuscar: "",
    };
  },
  created() {
    window.addEventListener("resize", this.handleResizeImage);
    console.log();
  },
  mounted() {
    // console.log(process.env.MIX_NODE_ENV);
    // // _layoutMenu
    me = this;
    // // this.$refs._layoutCabecera.clickMenu(null);
    // me.$refs._layoutCabecera.clickMenu(() => {
    //   me.$refs._layoutMenu.changueStatus();
    // });
    me.DBcargaRegistros();
  },
  methods: {
    handleResizeImage() {
      this.counterTime = setTimeout(function () {
        if (document.getElementById("imgViewItem")) {
          let imgView = document.getElementById("imgViewItem");
          var altoView = parseInt(imgView.clientWidth);
          let nodeItems = document.getElementsByClassName("imgViewItem");
          for (let i = 0; i < nodeItems.length; i++) {
            nodeItems[i].style.height = altoView + "px";
          }
        }
      }, 200);
    },
    DBcreateMiMascota() {
      let recovery = this.$refs.refDialogoElemento.getElements();

      me.$refs.refDialogoLoading.setMessage("Guarando datos...");
      me.$refs.refDialogoLoading.show();

      let form = new FormData();
      recovery[0].file ? form.append("foto", recovery[0].file) : "";
      // recovery[1].value != null ? form.append("nombre", recovery[1].value) : "";
      form.append("nombre", recovery[1].value);
      form.append("tipo", recovery[2].value);
      form.append("edad", recovery[3].value);
      form.append("raza", recovery[4].value);
      form.append("peso", recovery[5].value);
      form.append("usuario_id", me.$route.params.id_usuario);

      apiAxios
        .createMiMascota({
          form: form,
        })
        .then((response) => {
          me.$refs.refDialogoLoading.dissmis();
          me.$refs.refDialogoElemento.dissmis();
          me.DBcargaRegistros();
        })
        .catch(function (err) {
          me.$refs.refDialogoLoading.dissmis();
          me.$refs.refDialogConfirm.show();
          me.$refs.refDialogConfirm.setTitle("Error de formulario");
          me.$refs.refDialogConfirm.setMessage(
            err.response.status == 400 ? err.response.data.message : err.message
          );
          me.$refs.refDialogConfirm.setImage(require("@/assets/error.svg"));
          me.$refs.refDialogConfirm.setPositiveText("Volver");
          me.$refs.refDialogConfirm.setPositiveOnClick(() => {
            me.$refs.refDialogConfirm.dissmis();
          });
        });
      //   }
    },
    updateItem(item) {
      this.$refs.refDialogoElemento.setTitle("Edita mascota");
      this.$refs.refDialogoElemento.setElements([
        {
          type: "img",
          title: "Fotografia",
          value: me.GLOBAL.baseUrl("/storage/mi_mascota_lite/" + item.foto),
        },
        {
          type: "text",
          title: "Nombre*",
          value: item.nombre,
        },

        {
          type: "select",
          title: "Tipo*",
          value: item.tipo,
          items: {
            Canino: "Canino",
            Felino: "Felino",
            Ave: "Ave",
            Reptil: "Reptil",
            Pez: "Pez",
            Otros: "Otros",
          },
        },
        {
          type: "number",
          title: "Edad",
          value: item.edad,
        },
        {
          type: "text",
          title: "Raza",
          value: item.raza,
        },
        {
          type: "number",
          title: "Peso(kg)",
          value: item.peso,
        },
      ]);
      me.$refs.refDialogoElemento.show();
      me.$refs.refDialogoElemento.setOnClickListenerPositive(() => {
        me.DBupdateMiMascota(item);
      });
    },
    DBupdateMiMascota(item) {
      let recovery = this.$refs.refDialogoElemento.getElements();

      me.$refs.refDialogoLoading.setMessage("Guarando datos...");
      me.$refs.refDialogoLoading.show();

      let form = new FormData();
      recovery[0].file ? form.append("foto", recovery[0].file) : "";
      recovery[1].value != null ? form.append("nombre", recovery[1].value) : "";
      form.append("tipo", recovery[2].value);
      form.append("edad", recovery[3].value);
      form.append("raza", recovery[4].value);
      form.append("peso", recovery[5].value);
      form.append("id_mi_mascota", item.id_mi_mascota);

      apiAxios
        .updateMiMascota({
          form: form,
        })
        .then((response) => {
          me.$refs.refDialogoLoading.dissmis();
          me.$refs.refDialogoElemento.dissmis();
          me.DBcargaRegistros();
        })
        .catch(function (err) {
          me.$refs.refDialogoLoading.dissmis();
          me.$refs.refDialogConfirm.show();
          me.$refs.refDialogConfirm.setTitle("Error de formulario");
          me.$refs.refDialogConfirm.setMessage(
            err.response.status == 400 ? err.response.data.message : err.message
          );
          me.$refs.refDialogConfirm.setImage(require("@/assets/error.svg"));
          me.$refs.refDialogConfirm.setPositiveText("Volver");
          me.$refs.refDialogConfirm.setPositiveOnClick(() => {
            me.$refs.refDialogConfirm.dissmis();
          });
        });
    },
    DBdeleteMiMascota(item) {
      me.$refs.refDialogConfirm.show();
      me.$refs.refDialogConfirm.setTitle("Eliminar");
      me.$refs.refDialogConfirm.setMessage(
        "Realmente desea eliminar este registro"
      );
      me.$refs.refDialogConfirm.setImage(require("@/assets/error.svg"));
      me.$refs.refDialogConfirm.setPositiveText("Aceptar");
      me.$refs.refDialogConfirm.setPositiveOnClick(() => {
        console.log("click");
        apiAxios
          .deleteMiMascota({
            id: item.id_mi_mascota,
          })
          .then((response) => {
            me.$refs.refDialogoLoading.dissmis();
            me.$refs.refDialogConfirm.dissmis();
            me.DBcargaRegistros();
          })
          .catch(function (err) {
            me.$refs.refDialogoLoading.dissmis();
            me.$refs.refDialogConfirm.show();
            me.$refs.refDialogConfirm.setTitle("Error de formulario");
            me.$refs.refDialogConfirm.setMessage(
              err.response.status == 400
                ? err.response.data.message
                : err.message
            );
            me.$refs.refDialogConfirm.setImage(require("@/assets/error.svg"));
            me.$refs.refDialogConfirm.setPositiveText("Volver");
          });
      });
      me.$refs.refDialogConfirm.setNegativeText("Cancelar");
      me.ButtonPrimary;
    },
    DBcargaRegistros() {
      apiAxios
        .getMiMascota({
          cantidad_por_pagina: me.cantidad_por_pagina,
          pagina: me.pagina,
          buscar: me.txtBuscar,
          id_usuario: me.$route.params.id_usuario,
        })
        .then((response) => {
          me.arrayTabla = response.data.data;
          me.handleResizeImage();
          // console.log("hol " + me.arrayTabla.filas.length);
        })
        .catch(function (err) {
          console.log(err);
        });
    },
  },
};
</script>

<style>
</style>